{% extends 'base.html.twig' %}

{% block title %}Consulta index{% endblock %}
{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
{% block body %}
    <h1>Consultas</h1>
<div class="container">
    <div id="contenedorBotonVolver" class="text-left mt-1">
        <a href="{{path('inicio_admin')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table" id="tablaIndex">
            <thead id="headIndex" >
                <tr>
                    <th>{{knp_pagination_sortable(consultas, 'Id', 'p.id') }}</th>
                    <th {% if consultas.isSorted('t.nombre') %} class="sorted" {% endif %}>
                        {{knp_pagination_sortable(consultas, 'Tipo', 't.nombre')}}</th>
                    {# <th>{{knp_pagination_sortable(consultas, 'tipo', 'p.tipo') }}</th> #}
                    <th>{{knp_pagination_sortable(consultas, 'Nombre', 'p.nombre')}}</th>
                    <th>{{knp_pagination_sortable(consultas, 'Email', 'p.email')}}</th>
                    <th>{{knp_pagination_sortable(consultas, 'Numero Tel', 'p.numeroTel')}}</th>
                    <th>{{knp_pagination_sortable(consultas, 'Consulta', 'p.texto')}}</th>
                    <th>{{knp_pagination_sortable(consultas, 'Fecha y Hora', 'p.fecha_yHora')}}</th>
                    <th class="thOp">Acciones</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for consulta in consultas %}
                    <tr>
                        <td>{{consulta.id}}</td>
                        <td>{{consulta.tipoConsulta.nombre}}</td>
                        <td>{{ consulta.nombre}}</td>
                        <td>{{ consulta.email }}</td>
                        <td>{{ consulta.numeroTel }}</td>
                        <td>{{ consulta.texto }}</td>
                        <td>{{ consulta.fechaYHora|date('d-m-Y\\ H:i') }}</td>
                        <td>{{ include('consulta/_delete_form.html.twig') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no se encontraron registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(consultas) }}
        </div>

    </div>
</div>
    {% block javascripts %}
    {{encore_entry_script_tags('busquedaParamItem')}}
    {% endblock %}
{% endblock %}
