{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{% if "DIG_ADMINISTRADOR" in roles %}

<a type="button" href="{{ path('norma_nueva') }}">Create new</a>

{% endif %}
<div class="container">
    <div class="left"><h5>Normas encontradas: {{cant}}</h5></div>
    <div class="right"><div class="btn-group dropright">
        <button class="btn-sm" data-toggle="dropdown" aria-expanded="false">
            Ordenar por >
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Nombre</a>
            <a class="dropdown-item" href="#">Fecha</a>
            <a class="dropdown-item" href="#">Numero</a>
        </div>
    </div>
    </div>
</div>
<br>
<br>

{% if normas != null %}
{% for norma in normas %}
    <div class="container mt-2 mb-2">
        <div class="card text-center shadow mb-2 bg-white rounded">
            <div class="card-body text-left" id="{{norma.id}}" >
                <a class="norma" value="{{norma.id}}" href="{{path('norma_show', {'id': norma.id})  }}">{{ norma }}</a>
            </div>
        </div>
    </div>
        {% endfor %}
        {% else %}
            <h1>No se encontraron normas con su criterio de busqueda...</h1>
            <a type="button" href="{{path('busqueda_avanzada')}}">Buscar nuevamente</a>
{% endif %}

{% block javascripts %}
    {{ parent() }}
    {{encore_entry_script_tags('ordenamiento')}}
    {% endblock %}
{% endblock %}