{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}


{% block body %}
{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formularioBusqueda') }}
    {{ encore_entry_link_tags('spinnerCss') }}
{% endblock %}



<div class="card shadow-sm">
    <div class="card-body sm">
        <form action="{{path('formulario_busqueda_result')}}" method="get" name="formulario">
            <div class="contenedor-inputs">
                <div class="form-row mb-2">
                <div class="col-6">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <strong>Titulo:</strong>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="titulo" name="titulo"
                                    placeholder="titulo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <strong>Tipo</strong>
                        </div>
                        <div class="col">
                            {# <input class="form-control form-control-sm" id="responsable"
                            name="responsable" placeholder="responsable" /> #}
                            <div class="input-group">
                                <select name="tipoNorma" id="TipoNorma" class="form-control selectpicker" data-live-search="true">
                                    <option ></option>
                                    {% for tipo in tipoNormas %}
                                        <option value={{tipo.getId()}}>{{tipo.getNombre()}}</option>    
                                    {% endfor %}
                                </select>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="col-6">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <strong>Numero:</strong>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="numero" name="numero"
                                    placeholder="numero" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <strong>A単o:</strong>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-sm" id="a単o" name="a単o"
                                        placeholder="a単o" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
            <div class="col-6">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <strong>texto</strong>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="texto" name="texto"
                                placeholder="Texto" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-row align-items-center select">
                    <div class="col-auto etiquetas">
                        <strong>Etiquetas</strong>
                    </div>
                    <div class="col etiquetas-col">
                        <div class="input-group select select-input">
                        {#<select multiple name="etiquetas[]" id="etiquetas" class="form-control selectpicker" data-live-search="true" data-size="20">#}
                            <select class="js-example-basic-multiple" name="etiquetas[]" multiple="multiple">
                                {# <option selected></option> #}
                                {% for etiqueta in etiquetas %}
                                    <option value="{{etiqueta.getId()}}">{{etiqueta.getNombre()}}</option>    
                                {% endfor %}
                            </select>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
            <div class="text-center">
                <a class="btn btn-sm btn-outline-secondary cargando buscarNorma" ><i class="fa fa-search"></i> Buscar</a>
            </div>
        </div>
        </form>
    </div>
</div>

{% block javascripts %}
        {{encore_entry_script_tags('etiqueta')}}
        {{encore_entry_script_tags('normaEdit')}}
        {{encore_entry_script_tags('spinnerJs')}}
{% endblock %}
{% endblock %}