{% extends 'base.html.twig' %}

{% block title %}TipoRelacion index{% endblock %}
{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
    <h1>Tipos de relaciones</h1> 
    <div class="container">


    <div id="contenedorBotonVolver" class="text-left mt-1">
        <a href="{{path('inicio_admin')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    {% if "DIG_ADMINISTRADOR" in roles %}
        <a href="{{ path('tipo_relacion_new') }}"> <button title="NUEVA RELACIÓN" type="button" class="btn btn-outline-info btn-sm ml-3">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    {% endif %}
    <br>
    <br>
    {% for flash_message in app.session.flashbag.get('errorDeleteTipoRela') %}
    <div class="card shadow mb-5 rounded" id="cardAdvertencia">
        <div class="flash-notice text-white font-weight-bolder text-center">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}
    <div class="table-responsive">
    <table class="table" id="tablaIndex">
        <thead id="headIndex">
            <tr>
                <th>{{ knp_pagination_sortable(tipo_relacions, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(tipo_relacions, 'Descripción', 'p.nombre')}}</th>
                {% if "DIG_ADMINISTRADOR" in roles %}
                <th class="thOp">Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="tbody">
            {% for tipo_relacion in tipo_relacions %}
            {% if tipo_relacion.nombre != 'Base' %}
            <tr>
                <td>
                    {{tipo_relacion.id}}
                </td>
                <td>
                    {{tipo_relacion.nombre}}
                </td>
                {% if "DIG_ADMINISTRADOR" in roles %}
                <td>
                    <a  href="{{path('tipo_relacion_edit', {'id': tipo_relacion.id})  }}"><button title="EDITAR" class="btn btn-info btn-sm d-inline-block float-left mr-1"><img src="{{asset('build/imagenes/iconos/Editar.png')}}"  alt="" id="auditoriaIcon"></button></a>
                    {{ include('tipo_relacion/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
            {% endif %}
            
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(tipo_relacions) }}
    </div>

    
</div>
</div>   

{% endblock %}
