{% extends 'base.html.twig' %}

{% block title %}TipoRelacion index{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
    <h1>Tipos de relaciones</h1>

    
    <br>
    <br>
    <div class="table-responsive">
    <table class="table table-hover ">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_relacion in tipo_relacions %}
            <tr>
                <td>
                    {{tipo_relacion.id}}
                </td>
                <td>
                    {{tipo_relacion.nombre}}
                </td>
                <td>
                    <a href="{{ path('tipo_relacion_edit', {'id': tipo_relacion.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('tipo_relacion_show', {'id': tipo_relacion.id}) }}"><i class="fa-solid fa-binoculars"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br>
<a href="{{ path('tipo_relacion_new') }}"> <button  type="button" class="btn btn-dark btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    
{% endblock %}
