{% extends 'base.html.twig' %}

{% block title %}TipoRelacion index{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
    <h1>Tipos de Relaciones</h1>

    <a href="{{ path('tipo_relacion_new') }}"> <button  type="button" class="btn btn-dark btn-sm">Alta de tipo de relacion</button> </a>
    <br>
    <br>
    <table class="table table-hover table-sm table-bordered ">
        <thead class="table-dark">
            <tr>
                <th>Descripcion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_relacion in tipo_relacions %}
            <tr>

                <td>
                    <a href="{{ path('tipo_relacion_show', {'id': tipo_relacion.id}) }}">{{tipo_relacion.nombre}}</a>
                </td>
                <td>
                    <a href="{{ path('tipo_relacion_edit', {'id': tipo_relacion.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
