{% extends 'base.html.twig' %}

{% block title %}TipoRelacion index{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
    <h1>Tipos de relaciones</h1>    
    <br>

    <div class="table-responsive">
    <table class="table table-hover ">
        <thead class="table-active">
            <tr>
                <th>{{ knp_pagination_sortable(tipo_relacions, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(tipo_relacions, 'Descripcion', 'p.nombre')}}</th>
                {% if rol == "DIG_ADMINISTRADOR" %}
                <th>Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tipo_relacion in tipo_relacions %}
            {% if tipo_relacion.id != 0 %}
            <tr>
                <td>
                    {{tipo_relacion.id}}
                </td>
                <td>
                    {{tipo_relacion.nombre}}
                </td>
                {% if rol == "DIG_ADMINISTRADOR" %}
                <td>
                    <a  href="{{path('tipo_relacion_edit', {'id': tipo_relacion.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    {{ include('tipo_relacion/_delete_form.html.twig') }}
                </td>
                {% endif %}
                

            </tr>
            {% endif %}
            
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(tipo_relacions) }}
    </div>
    {% if rol == "DIG_ADMINISTRADOR" %}
    <a href="{{ path('tipo_relacion_new') }}"> <button  type="button" class="btn btn-info btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    {% endif %}
    
</div>

{% endblock %}
