{% extends 'base.html.twig' %}

{% block title %}TipoRelacion{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}

    <h1>Tipo de relacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_relacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_relacion.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_relacion_index') }}">Volver a la lista</a>
<br>
    <a href="{{ path('tipo_relacion_edit', {'id': tipo_relacion.id}) }}">Editar</a>

    {{ include('tipo_relacion/_delete_form.html.twig') }}
{% endblock %}
