{% extends 'base.html.twig' %}

{% block title %}TipoRelacion{% endblock %}

{% block body %}
{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('normaShow') }}
{% endblock %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}

    <h1>Tipo de relacion</h1>

    <div class=" divBotonVolver mt-4  text-left">
        <a href={{app.request.headers.get('referer')}}><button type="button" class="btn btn-primary botones" id="botonVolver"><i class="fas fa-arrow-left"></i> Volver</button></a>
    </div>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_relacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_relacion.nombre }}</td>
            </tr>
        </tbody>
    </table>


    <div class="container">
        <div class="divBotones mt-3 mr-2">
            <a href="{{ path('item_edit', {'id': tipo_relacion.id}) }}"><button type="button" class="btn btn-success botones editar" value="{{tipo_relacion.id}}" id="editar">Editar</button></a>
        </div>
        <div class="divBotones mt-3 mr-2">
            {{ include('tipo_relacion/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
