{{ form_start(form) }}

{{ form_widget(form) }}
    
    {# {{ form_row(form.brochure) }}  #}
    <button class="btn btn-success" id="boton_guardar">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
