{{ form_start(form) }}

    {{ form_widget(form) }}
    
    {# {% do form.rela.setRendered() %}
    {{ form_widget(form.rela, {'attr' : {'class':'hidden-row'}}) }} #}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
