{% extends 'base.html.twig' %}

{% block title %}Edit Norma{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('createCss') }}
{% endblock %}

    <h1>Editar Norma</h1>

    {{ include('norma/_form.html.twig') }}
    <input type="hidden" id="id" value="{{norma.id}}">
    <input type="hidden" id="idNombre" value="{{norma.titulo}}">
    <a href="{{ path('norma_index') }}" class="btn btn-primary mt-2 mb-2">Cancelar</a>

    {% block javascripts %}
        {{ parent() }}
        {# {{encore_entry_script_tags('normaEditTexto')}} #}
    {% endblock  %} 
{% endblock %}
    