{% extends 'base.html.twig' %}

{% block title %}Edit Norma{% endblock %}

{% block body %}
    <h1>Edit Norma</h1>

    {{ include('norma/_form.html.twig') }}
    <input type="hidden" id="id" value="{{norma.id}}">
    <input type="hidden" id="idNombre" value="{{norma.titulo}}">
    <a href="{{ path('norma_index') }}">back to list</a>

    {{ include('norma/_delete_form.html.twig') }}
    {% block javascripts %}
        {{ parent() }}
        {# {{encore_entry_script_tags('normaEditTexto')}} #}
    {% endblock  %} 
{% endblock %}
    