{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{# {% block addStyleSheets %}
{{ encore_entry_link_tags('botonKnp') }}
{% endblock %} #}
    {% if 'listas' in app.request.pathinfo  %}
        <h1>Normas listas</h1>
    {% elseif 'borrador' in app.request.pathinfo  %}
        <h1>Normas borrador</h1>
    {% else %}
        <h1>Normas</h1>
    {% endif %}
    

    <div class="container">
    {# <div id="myModal" class="modalContainer">
        <div class="modal-content">
            <span class="close">×</span>
            <div class="text-center">
                <h2>¿Que desea editar?</h2>
            <h6 class="mt-3">Presione "Editar" para editar datos de la norma,
                o presione "Editar Texto" para modificar el texto de la norma.
                
            </h6>
            <div id="botones" class="text-center mt-5">
                <a class="btn btn-primary w-25" id="botonNo">Editar</a>
                <a class="btn btn-success w-25" id="botonSi">Editar Texto</a>
                </div>
            </div>
        </div>
    </div> #}
        <div class="row">
            <div class="col-sm-12">
                <div id="contenedorBotonVolver" class="text-left mt-1">
                    <a href="{{path('inicio')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                </div>
                <a class="btn btn-outline-info btn-sm dropdown-toggle" role="button" data-toggle="collapse" href="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Filtros <span class="caret"></span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card shadow-sm">
                        <div class="card-body sm">
                            <form action="{{path('busqueda_filtro')}}" method="get" name="formulario">
                                <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Titulo:</strong>
                                        </div>
                                        <div class="col modificar">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" id="titulo" name="titulo"
                                                    placeholder="titulo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Tipo</strong>
                                        </div>
                                        <div class="col">
                                            {# <input class="form-control form-control-sm" id="responsable"
                                            name="responsable" placeholder="responsable" /> #}
                                            <div class="input-group">
                                                <select name="tipoNorma" id="TipoNorma" class="form-control selectpicker" data-live-search="true">
                                                    <option value = '' selected></option>
                                                    {% for tipo in tipoNormas %}
                                                        <option value={{tipo.getId()}}>{{tipo.getNombre()}}</option>    
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Numero:</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <input type="number" class="form-control form-control-sm" id="numero" name="numero"
                                                    placeholder="numero" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Año:</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-sm" id="año" name="año"
                                                        placeholder="año" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Texto:</strong>
                                        </div>
                                        <div class="col modificar">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" id="texto" name="texto"
                                                    placeholder="texto" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {# <div class="text-center">
                                <div class="form-row align-items-center">
                                    <div class="col-auto">
                                        <strong>Etiquetas</strong>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <select name="etiquetas" id="etiquetas" class="form-control selectpicker" data-live-search="true" multiple="true">
                                                <option value = '-' selected></option>
                                                {% for etiqueta in etiquetas %}
                                                    <option value={{etiqueta.getId()}}>{{etiqueta.getNombre()}}</option>    
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                            </div> #}
                            <div class="text-center">
                                <a class="btn btn-sm btn-outline-secondary cargando buscarNorma" ><i class="fa fa-search"></i> Buscar</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <br>
    
    {# {% if "DIG_OPERADOR" in roles %}
        <h1>si</h1>
    {% endif %} #}
    
    <div class="table-responsive">
        <table class="table">
            <thead id="headIndex">
                <tr>
                    <th class="colId">{{knp_pagination_sortable(normas, 'ID', 'p.id') }}</th>
                    <th class="colTipo"{% if normas.isSorted('t.nombre') %} class="sorted" {% endif %}>
                        {{knp_pagination_sortable(normas, 'Tipo', 't.nombre')}}</th>
                    <th class="colTit">{{knp_pagination_sortable(normas, 'Titulo', 'p.titulo')}}</th>
                    <th class="colNum">{{knp_pagination_sortable(normas, 'Numero', 'p.numeroAuxiliar')}}</th>
                    <th class="colEstado">{{knp_pagination_sortable(normas, 'Estado', 'p.estado')}}</th>
                    {% if rol != "" %}
                    <th class="colPublico text-center">{{knp_pagination_sortable(normas, 'Acceso publico', 'p.publico')}}</th></th>
                    {% endif %}
                    <th class="colFecha">{{knp_pagination_sortable(normas, 'Año', 'p.year')}}</th>
                    <th class="columnaOp">{{knp_pagination_sortable(normas, 'Opciones', 'p.id')}}</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for norma in normas %}
                    {% set tipoNorma = 0 %}
                    {% for unaNormaUsuario in normasUsuario %}
                        {% if unaNormaUsuario == norma.tipoNorma.nombre%}
                            {% set tipoNorma = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if tipoNorma == 1 %}
                        <tr>
                    {% else %}
                        <tr class="table-secondary">
                    {% endif %}

                    <td class="colId"><strong>{{norma.id}}</strong></td>
                    <td class="colTipo"><strong>{{norma.tipoNorma.nombre}}</strong></td>
                    <td class="colTit"><strong>{{norma.titulo}}</strong></td>
                    <td class="colNum"><strong>{{norma.numeroAuxiliar}}</strong></td>
                    <td class="colEstado"><strong>{{norma.estado}}</strong></td>
                    {% if rol != "" %}
                        {% if norma.publico == 1 %}
                            <td class="text-center text-success"><i class="fa-solid fa-circle-check"></i></td>
                        {% else %}
                            <td class="text-center text-danger"><i class="fa-solid fa-circle-xmark"></i> </td>
                        {% endif %}
                    {% endif %}
                    <td class="colFecha"><strong>{{norma.year}}</strong></td>
                    {% set bandera = 0 %}
                    <td class="columnaOp">
                        <div id="divBotonesOpNorma">
                            <a  href="{{path('norma_show', {'id': norma.id})  }}"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Ver norma"><i class="far fa-eye"></i></button></a>
                            {% if "DIG_OPERADOR" in roles or "DIG_EDITOR" in roles or "DIG_ADMINISTRADOR" in roles %}
                                {% for unaNormaUsuario in normasUsuario %}
                                    {% if unaNormaUsuario == norma.tipoNorma.nombre  %}
                                        {% set bandera = 1 %}
                                    {% endif %}
                                {% endfor %}
                                {# {% if bandera == 1 and norma.estado !="Publicada" and rol != "DIG_ADMINISTRADOR" %} #}
                                {% if bandera == 1 and norma.estado == "Borrador" and "DIG_OPERADOR" in roles %}
                                    <a  href="{{path('norma_edit',{'id': norma.id})}}"><button class="btn btn-info btn-sm editar" data-toggle="tooltip" data-placement="top" title="Editar norma"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                {% elseif bandera == 1 and norma.estado == "Lista" and "DIG_EDITOR" in roles %}
                                    <a  href="{{path('norma_edit',{'id': norma.id})}}"><button class="btn btn-info btn-sm editar" data-toggle="tooltip" data-placement="top" title="Editar norma"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                {% else %}
                                    <a  href="#"><button class="btn btn-info btn-sm editar" data-toggle="tooltip" data-placement="top" title="Editar norma" id="editar" value="{{norma.id}}" disabled><i class="fa-solid fa-pen-to-square"></i></button></a>
                                {% endif %}
                                <a  href="{{path('trayecto_norma', {'id': norma.id})  }}"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Trayecto de la norma" id="botonAuditoria" ><i class="fa-solid fa-magnifying-glass"></i></button></a>
                                {# <a href="#"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Relaciones" id="botonAuditoria"><i class="fas fa-handshake"></i></button></a>
                                <a href="#"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Archivos" id="botonAuditoria"><i class="fas fa-archive"></i></button></a> #}
                            {% endif %}
                        </div>
                    </td>
                    
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation" style="text-align:center !important;">
            {{ knp_pagination_render(normas) }}
        </div>
    </div>
</div>
    {% block javascripts %}
        {{encore_entry_script_tags('busquedaParamNorma')}}
        {{encore_entry_script_tags('normaEdit')}}
        
    {% endblock %}
{% endblock %}