{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
{% endblock %}

{# {% block addStyleSheets %}
{{ encore_entry_link_tags('botonKnp') }}
{% endblock %} #}
    <h1>Normas</h1>

    <div class="container">

    <div id="myModal" class="modalContainer">
        <div class="modal-content">
            <span class="close">×</span>
            <div class="text-center">
                <h2>Desea generar un PDF del texto ordenado?</h2>
                <h6 class="mt-3">Al presiona "SI" se creará una copia del texto de la norma actual en un archivo PDF y deberá editar el texto de la norma.
                    Al presionar "NO" solamente podrá editar los datos de la norma pero no su texto. 
                </h6>
                <div id="botones" class="text-center mt-5">
                    <a class="btn btn-primary w-25" id="botonNo">No</a>
                    <a class="btn btn-success w-25" id="botonSi">Si</a>
                </div>
            </div>
        </div>
    </div>

    
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-outline-info btn-sm dropdown-toggle" role="button" data-toggle="collapse" href="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Filtros <span class="caret"></span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card shadow-sm">
                        <div class="card-body sm">
                            <form action="{{path('busqueda_filtro')}}" method="get">
                                <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Titulo:</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" id="titulo" name="titulo"
                                                    placeholder="titulo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Tipo</strong>
                                        </div>
                                        <div class="col">
                                            {# <input class="form-control form-control-sm" id="responsable"
                                            name="responsable" placeholder="responsable" /> #}
                                            <div class="input-group">
                                                <select name="tipoNorma" id="TipoNorma" class="form-control selectpicker" data-live-search="true">
                                                    <option value = '' selected></option>
                                                    {% for tipo in tipoNormas %}
                                                        <option value={{tipo.getId()}}>{{tipo.getNombre()}}</option>    
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Numero:</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" id="numero" name="numero"
                                                    placeholder="numero" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Año:</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-sm" id="año" name="año"
                                                        placeholder="año" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# <div class="text-center">
                                <div class="form-row align-items-center">
                                    <div class="col-auto">
                                        <strong>Etiquetas</strong>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <select name="etiquetas" id="etiquetas" class="form-control selectpicker" data-live-search="true" multiple="true">
                                                <option value = '-' selected></option>
                                                {% for etiqueta in etiquetas %}
                                                    <option value={{etiqueta.getId()}}>{{etiqueta.getNombre()}}</option>    
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                            </div> #}
                            <div class="text-center">
                                <button type="submit" class="btn btn-sm btn-outline-secondary cargando" ><i
                                    class="fa fa-search"></i> Buscar</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-active">
            <tr>
                <th class="colId">{{knp_pagination_sortable(normas, 'Id', 'p.id') }}</th>
                <th class="colTipo"{% if normas.isSorted('t.nombre') %} class="sorted" {% endif %}>
                    {{knp_pagination_sortable(normas, 'Tipo', 't.nombre')}}</th>
                <th class="colTit">{{knp_pagination_sortable(normas, 'Titulo', 'p.titulo')}}</th>
                <th class="colNum">{{knp_pagination_sortable(normas, 'Numero', 'p.numero')}}</th>
                <th class="colEstado">{{knp_pagination_sortable(normas, 'Estado', 'p.estado')}}</th>
                <th class="colFecha">{{knp_pagination_sortable(normas, 'Fecha de publicacion', 'p.fechaPublicacion')}}</th>
                <th class="columnaOp">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for norma in normas %}
            <tr>
                <td class="colId">{{norma.id}}</td>
                <td class="colTipo">{{norma.tipoNorma.nombre}}</td>
                <td class="colTit">{{norma.titulo}}</td>
                <td class="colNum">{{norma.numero}}</td>
                <td class="colEstado">{{norma.estado}}</td>
                <td class="colFecha">{{norma.fechaPublicacion|date('Y-m-d')}}</td>

                

                <td class="columnaOp">
                    <div>
                        <a  href="{{path('norma_show', {'id': norma.id})  }}"><button class="btn btn-info btn-sm"><i class="far fa-eye"></i></button></a>
                        {% if rol == "DIG_OPERADOR" %}
                        <a  href="#"><button class="btn btn-info btn-sm editar" id="editar" value="{{norma.id}}"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(normas) }}
    </div>
    </div>
{% if rol == "DIG_OPERADOR" %}
    
    <a href="{{ path('norma_nueva') }}"> <button  type="button" class="btn btn-info btn-sm">Agregar <i class="fa-solid fa-plus"></i></button></a>
    <br>
    </div>
    
    {% endif %}
    {% block javascripts %}
        {{encore_entry_script_tags('busquedaParamNorma')}}
        {{encore_entry_script_tags('normaEdit')}}
    {% endblock %}
{% endblock %}