{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
    {{ encore_entry_link_tags('index') }}
    
{% endblock %}

{# {% block addStyleSheets %}
{{ encore_entry_link_tags('botonKnp') }}
{% endblock %} #}
    {% if 'listas' in app.request.pathinfo  %}
        <h1>Normas listas</h1>
    {% elseif 'borrador' in app.request.pathinfo  %}
        <h1>Normas borrador</h1>
    {% else %}
        <h1 >Normas</h1>
    {% endif %}
    

    <div class="container">
    {# <div id="myModal" class="modalContainer">
        <div class="modal-content">
            <span class="close">×</span>
            <div class="text-center">
                <h2>¿Que desea editar?</h2>
            <h6 class="mt-3">Presione "Editar" para editar datos de la norma,
                o presione "Editar Texto" para modificar el texto de la norma.
                
            </h6>
            <div id="botones" class="text-center mt-5">
                <a class="btn btn-primary w-25" id="botonNo">Editar</a>
                <a class="btn btn-success w-25" id="botonSi">Editar Texto</a>
                </div>
            </div>
        </div>
    </div> #}
        <div class="row">
            
            <div class="col-sm-12">
                <div id="contenedorBotonVolver" class="text-left mt-1">
                    {% if "/etiqueta/" in  app.request.pathinfo and "busquedaId" in  app.request.pathinfo  %}
                        <a href={{app.request.headers.get('referer')}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                    {% elseif "norma/formularioBusqueda" in  app.request.pathinfo %}
                        <a href="{{ path('formulario_busqueda')  }}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                    {% else %}
                        <a href="{{path('inicio')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                    {% endif %}
                    
                </div>
                <a class="btn btn-outline-info btnFiltro dropdown-toggle" role="button" data-toggle="collapse" href="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Filtros <span class="caret"></span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card shadow-sm">
                        <div class="card-body sm">
                            <div class="container-formulario">
                                <form action="{{path('busqueda_filtro')}}" method="get" name="formulario" id="form">
                                    <div class="form-row mb-2">
                                        {# <div class="col-1"></div> #}
                                    <div class="col-6">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto izq">
                                                <div id="titulo"> Título</div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm"  id="textoInput" name="titulo"
                                                        placeholder="Título" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <div id="titulo"> Tipo</div>
                                            </div>
                                            <div class="col">
                                                {# <input class="form-control form-control-sm" id="responsable"
                                                name="responsable" placeholder="responsable" /> #}
                                                <div class="input-group">
                                                    <select title="Seleccionar" name="tipoNorma" id="TipoNorma" class="form-control selectpicker" data-live-search="true">
                                                        <option value = '' selected></option>
                                                        {% for tipo in tipoNormas %}
                                                            <option value={{tipo.getId()}}>{{tipo.getNombre()}}</option>    
                                                        {% endfor %}
                                                    </select>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    {# <div class="col-1"></div> #}
                                    <div class="col-6">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto izq">
                                                <div id="titulo"> Número</div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-sm" id="textoInput" name="numero"
                                                        placeholder="Número" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <div id="titulo"> Año</div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control form-control-sm" id="textoInput" name="año"
                                                            placeholder="Año" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    {# <div class="col-1"></div> #}
                                    <div class="col-6">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto izq">
                                                <div id="titulo"> Texto</div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm" id="textoInput" name="texto"
                                                        placeholder="Texto" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-row align-items-center select">
                                            <div class="col-auto etiquetas">
                                                <div id="titulo">Etiquetas </div>
                                            </div>
                                            <div class="col etiquetas-col">
                                                <div class="input-group select select-input">
                                                {#<select multiple name="etiquetas[]" id="etiquetas" class="form-control selectpicker" data-live-search="true" data-size="20">#}
                                                    <select class="js-example-basic-multiple" name="etiquetas[]" multiple="multiple">
                                                        {# <option selected></option> #}
                                                        {% for etiqueta in etiquetas %}
                                                            <option value="{{etiqueta.getId()}}">{{etiqueta.getNombre()}}</option>    
                                                        {% endfor %}
                                                    </select>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {# <div class="text-center">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto">
                                            <strong>Etiquetas</strong>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <select name="etiquetas" id="etiquetas" class="form-control selectpicker" data-live-search="true" multiple="true">
                                                    <option value = '-' selected></option>
                                                    {% for etiqueta in etiquetas %}
                                                        <option value={{etiqueta.getId()}}>{{etiqueta.getNombre()}}</option>    
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                </div> #}
                                <div class="text-center">
                                    
                                        <a class="btn btn-sm btn-outline-secondary cargando buscarNorma">
                                            <div id="botoncito">
                                            <i class="fa fa-search"></i> BUSCAR
                                        </div>
                                        </a>
                                    
                                </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
            <div class="row">
                <div class="col-12" id="filtro">
                    {% if filtros is defined and filtros|length > 0 %}
                    <div class="alert alert-primary" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>
                        {% for filtro in filtros %}
                            {% if filtro == filtros|last %}
                            {{ filtro }}
                            {% else %}
                                {{ filtro }} |
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                        {% if fEtiquetas is defined and fEtiquetas|length > 0 %}
                            <div class="alert alert-primary" role="alert">
                                <i class="fa-solid fa-tags"></i>
                                {% for eti in fEtiquetas %}
                                    {% if eti == fEtiquetas|last %}
                                        {{eti}}
                                    {% else %}
                                        {{eti}} |
                                    {% endif %}
                                    
                                {% endfor %}
                            </div>
                        {% endif %}
                    
                    
                </div>
            </div>
        
        
    
    <br>
    
    {# {% if "DIG_OPERADOR" in roles %}
        <h1>si</h1>
    {% endif %} #}
    
    <div class="table-responsive">
        <table class="table" id="tablaIndex">
            <thead id="headIndex">
                <tr>
                    {# <th class="colId">{{knp_pagination_sortable(normas, 'ID', 'p.id') }}</th> #}
                    <th class="colTipo"{% if normas.isSorted('t.nombre') %} class="sorted" {% endif %}>
                        {{knp_pagination_sortable(normas, 'Tipo', 't.nombre')}}</th>
                    <th class="colTit">{{knp_pagination_sortable(normas, 'Título', 'p.titulo')}}</th>
                    <th class="colNum">{{knp_pagination_sortable(normas, 'Número', 'p.numeroAuxiliar')}}</th>
                    <th class="colEstado">{{knp_pagination_sortable(normas, 'Estado', 'p.estado')}}</th>
                    {% if rol != "" %}
                    <th class="colPublico">{{knp_pagination_sortable(normas, 'Acceso', 'p.publico')}}</th></th>
                    {% endif %}
                    <th class="colFecha">{{knp_pagination_sortable(normas, 'Año', 'p.year')}}</th>
                    <th class="columnaOp">{{knp_pagination_sortable(normas, 'Opciones', 'p.id')}}</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for norma in normas %}
                    {% set tipoNorma = 0 %}
                    {% for unaNormaUsuario in normasUsuario %}
                        {% if unaNormaUsuario == norma.tipoNorma.nombre%}
                            {% set tipoNorma = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if tipoNorma == 1 %}
                        <tr>
                    {% else %}
                        {# <tr class="table-secondary"> #}
                            <tr>
                    {% endif %}

                    {# <td class="colId"><strong>{{norma.id}}</strong></td> #}
                    <td class="colTipo">{{norma.tipoNorma.nombre}}</td>
                    <td class="colTit">{{norma.titulo}}</td>
                    <td class="colNum">{{norma.numeroAuxiliar}}</td>
                    <td class="colEstado">{{norma.estado}}</td>
                    {% if rol != "" %}
                        {% if norma.publico == 1 %}
                            <td class="text-center text-success"><i class="fa-solid fa-circle-check"></i></td>
                        {% else %}
                            <td class="text-center text-danger"><i class="fa-solid fa-circle-xmark"></i> </td>
                        {% endif %}
                    {% endif %}
                    <td class="colFecha">{{norma.year}}</td>
                    {% set bandera = 0 %}
                    <td class="columnaOp">
                        <div id="divBotonesOpNorma">
                            {# si hay sesion: #}
                            {% if app.session.get('session_id') is defined and app.session.get('session_id') is not null %}
                                <a  href="{{path('norma_show', {'id': norma.id})  }}"><button class="btn btn-info btn-sm" title="VER"><i class="far fa-eye"></i></button></a>
                            {% else %}
                                <a  href="{{path('norma_show', {'id': norma.id})  }}"><button class="btn btn-info btn-sm" title="VER"><img src="{{asset('build/imagenes/iconos/Ver.png')}}"  alt="" id="verIcon"></button></a>
                            {% endif %}
                                {% if "DIG_OPERADOR" in roles or "DIG_EDITOR" in roles or "DIG_ADMINISTRADOR" in roles %}
                                {% for unaNormaUsuario in normasUsuario %}
                                    {% if unaNormaUsuario == norma.tipoNorma.nombre  %}
                                        {% set bandera = 1 %}
                                    {% endif %}
                                {% endfor %}
                                {# {% if bandera == 1 and norma.estado !="Publicada" and rol != "DIG_ADMINISTRADOR" %} #}
                                {% if bandera == 1 and norma.estado == "Borrador" and "DIG_OPERADOR" in roles %}
                                    <a  href="{{path('norma_showEdit',{'id': norma.id})}}"><button class="btn btn-info btn-sm editar"title="EDITAR"><img src="{{asset('build/imagenes/iconos/Editar.png')}}"  alt="" id="auditoriaIcon"></button></a>
                                {% elseif bandera == 1 and ( norma.estado == "Lista" or norma.estado == "Publicada") and "DIG_EDITOR" in roles %}
                                    <a  href="{{path('norma_showEdit',{'id': norma.id})}}"><button class="btn btn-info btn-sm editar"title="EDITAR"><img src="{{asset('build/imagenes/iconos/Editar.png')}}"  alt="" id="auditoriaIcon"></button></a>
                                {% else %}
                                    <a  href="#"><button class="btn btn-info btn-sm editar" id="editar" value="{{norma.id}}" disabled><img src="{{asset('build/imagenes/iconos/Editar.png')}}"  alt="" id="auditoriaIcon"></button></a>
                                {% endif %}
                                <a  href="{{path('trayecto_norma', {'id': norma.id})  }}"><button class="btn btn-info btn-sm" title="AUDITORÍA" id="botonAuditoria" ><img src="{{asset('build/imagenes/iconos/Auditorias.png')}}"  alt="" id="auditoriaIcon"></button></a>
                                {{ include('norma/_deleteIndex_form.html.twig') }}
                                {# <a href="#"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Relaciones" id="botonAuditoria"><i class="fas fa-handshake"></i></button></a>
                                <a href="#"><button class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Archivos" id="botonAuditoria"><i class="fas fa-archive"></i></button></a> #}
                            {% endif %}
                        </div>
                    </td>
                    
                {% else %}
                    <tr>
                        <td colspan="3">No se encontraron registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation" style="text-align:center !important;">
            {{ knp_pagination_render(normas) }}
        </div>
    </div>
</div>
    {% block javascripts %}
        {{encore_entry_script_tags('busquedaParamNorma')}}
        {{encore_entry_script_tags('normaEdit')}}
        {{encore_entry_script_tags('etiqueta')}}
    {% endblock %}
{% endblock %}