{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}
    <h1>Norma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Tipo de norma</th>
                <th>Titulo</th>
                <th>FechaSancion</th>
                <th>FechaPublicacion</th>
                <th>Resumen</th>
                <th>Etiquetas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for norma in normas %}
            <tr>
                <td>{{ norma.numero }}</td>
                <td>{{norma.tipoNorma}}</td>
                <td>{{ norma.titulo }}</td>
                <td>{{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</td>
                <td>{{ norma.fechaPublicacion ? norma.fechaPublicacion|date('Y-m-d') : '' }}</td>
                <td>{{ norma.resumen }}</td>
                <td>{{ norma.etiquetas ? norma.etiquetas|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('norma_show', {'id': norma.id}) }}">show</a>
                    <a href="{{ path('norma_edit', {'id': norma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
