{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
    <h1>Normas</h1>
    
    <br>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for norma in normas %}
            <tr>
                <td>{{norma.id}}</td>
                <td>{{norma.titulo}}</td>
                <td>
                    <a  href="{{path('norma_show', {'id': norma.id})  }}"><i class="fa-solid fa-binoculars"></i></a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(normas) }}
    </div>
    </div>
{% if rol == "DIG_OPERADOR" %}
    
    <a href="{{ path('norma_nueva') }}"> <button  type="button" class="btn btn-dark btn-sm">Agregar <i class="fa-solid fa-plus"></i></button></a>
    <br>
    {% endif %}
{% endblock %}