{% extends 'base.html.twig' %}

{% block title %}{{id.getTitulo}}{% endblock %}

{% block body %}
{# <a id="btnCrearPdf"><button class="botonPDF btn btn-danger"value="{{id.titulo}}">Descargar PDF</button></a> #}
<p class="text-break">
<div>
    <pre><code>
        {{id.texto}}
    </code>
        
    </pre>
</div>

</p>




{% endblock %}
{% block javascripts %}
{{ parent() }}
{# {{encore_entry_script_tags('generarPDF')}} #}
{% endblock %}
