{% extends 'base.html.twig' %}

{% block title %}Norma{% endblock %}

{% block body %}
    <h1>Norma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ norma.id }}</td>
            </tr>
            <tr>
                <th>FechaSancion</th>
                <td>{{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaPublicacion</th>
                <td>{{ norma.fechaPublicacion ? norma.fechaPublicacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ norma.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ norma.texto }}</td>
            </tr>
            <tr>
                <th>Resumen</th>
                <td>{{ norma.resumen }}</td>
            </tr>
            <tr>
                <th>FechaPublicacionBoletin</th>
                <td>{{ norma.fechaPublicacionBoletin ? norma.fechaPublicacionBoletin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ norma.estado }}</td>
            </tr>
            <tr>
                <th>Etiquetas</th>
                <td>{{ norma.etiquetas ? norma.etiquetas|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ norma.numero }}</td>
            </tr>
            <tr>
                <th>FechaPromulgacion</th>
                <td>{{ norma.fechaPromulgacion ? norma.fechaPromulgacion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('norma_index') }}">back to list</a>

    <a href="{{ path('norma_edit', {'id': norma.id}) }}">edit</a>

    {{ include('norma/_delete_form.html.twig') }}
{% endblock %}
