{% extends 'base.html.twig' %}

{% block title %}Norma{% endblock %}
{# {% block addStyleSheets %}
{# {{ encore_entry_link_tags('boton') }} #}
{# {{ parent() }}    #}
{#{% endblock %} #}
{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('normaShow') }}
{% endblock %}


<div id="myModal" class="modalContainer">
    <div class="modal-content">
        <span class="close">×</span>
        <div class="text-center">
            <h2>Desea generar un PDF del texto ordenado?</h2>
            <h6 class="mt-3">Al presiona "SI" se creará una copia del texto de la norma actual en un archivo PDF y deberá editar el texto de la norma.
                Al presionar "NO" solamente podrá editar los datos de la norma pero no su texto. 
            </h6>
            <div id="botones" class="text-center mt-5">
                <a class="btn btn-primary w-25" id="botonNo">No</a>
                <a class="btn btn-success w-25" id="botonSi">Si</a>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-3 mb-3">
        <div class="card text-center shadow mb-5 bg-white rounded">
            {% if norma.numero != null  %}
            <div class="card-header">
                <h4>
                    <th>{{norma.tipoNorma.nombre}} N° </th>
                
                {{ norma.numero }}
                </h4>
            </div>
            {% endif %}
            
            <div class="card-body">
                <h5 class="card-title text-center">{{ norma.titulo }}</h5>
                <p class="card-text text-left">Fecha de sanción: {{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</p>
                <p class="card-text text-left">Fecha de publicacion: {{ norma.fechaPublicacion ? norma.fechaPublicacion|date('Y-m-d') : '' }}</p>
                <p class="card-text text-left">Resumen: {{ norma.resumen }}</p>
                
                <br>

                <div class="card " style="width: 100%;text-align:justify">
                    <div class="card-body">
                        <h5 id="h5Archivos" class="card-title text-center">Archivos adjuntos</h5>
                        {% if rol == "DIG_OPERADOR" %}
                        <a href="{{path('agregar_archivo', {'id': norma.id})  }}" class="btn btn-secondary btn-sm" id="botonMas"><i class="fas fa-solid fa-plus"></i></a>
                        {% endif %}
                        {% for unPdf in norma.archivos %}
                        <div>
                            <a href="{{asset('uploads/' ~ unPdf.ruta)  }}" class="">{{unPdf.nombre}} <i class="fas fa-file-pdf"></i></a>
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div style="text-align:left ;">
                    <i class="fa-solid fa-tags"></i>Etiquetas:
                    {% for etiqueta in norma.etiquetas %}
                        <a href="{{path('busqueda_id_etiqueta',{'id':etiqueta.getId})}}">{{etiqueta}}  </a> |
                    {% endfor %}
                    <br>
                    <i class="fa-solid fa-user"></i>Publicado por :
                    {{user}}
                </div>


                <br>
                
                <div class="container" id="containerBotones">
                    
                        <div class="divBotones mt-3 mr-2">
                            <a href="{{path('mostrar_texto', {'id': norma.id})  }}" class="btn btn-primary botones" >Ver texto ordenado</a>
                        </div>
                        
                        <div class="divBotones mt-3 mr-2">
                            <a href="{{path('mostrar_pdf', {'id': norma.id})  }}" class="btn btn-danger botones">Ver texto en pdf <i class="fas fa-file-pdf"></i></a>
                        </div>

                        {% if rol == "DIG_OPERADOR" %}
                            <div class="divBotones mt-3 mr-2">
                                <a><button type="button" class="btn btn-success botones editar" value="{{norma.id}}" id="editar">Editar</button></a>
                            </div>

                            <div class="divBotones mt-3 mr-2">
                                <a href="{{ path('form_rela_edit', {'id': norma.id}) }} "><button type="button" class="btn btn-success botones"> Agregar relacion</button></a>
                            </div>

                            <div class="divBotones mt-3 mr-2">
                                {{ include('norma/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    
                </div>

            <div class="card-footer text-left mt-3">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Relacion</th>
                            <th scope="col">Norma</th>
                            {% if rol == "DIG_OPERADOR" %}
                            <th scope="col">Edit</th>
                            {% endif %}
                        </tr>
                    </thead>
                            {% for rela in relacion %}
                            <tbody>
                                <tr>
                                    <td>{{rela.getTipoRelacion.getNombre}}</td>
                                    <td> <a href="{{path('norma_show', {'id': rela.getComplementada.getId}) }}">{{rela.getComplementada.getTitulo}}</a></td>
                                    {% if rol == "DIG_OPERADOR" %}
                                    <td><a href="{{path('relacion_edit', {'id':norma.id,'idA':rela.getComplementada.getId,'idR':rela.getId})}}"><i class="fas fa-solid fa-pen"></i></a></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Observaciones</td>
                                    <td>{{rela.getDescripcion}}</td>
                                </tr>

                            </tbody>
                        {% endfor %}
                </table>
            </div>
            
            
            <div class=" divBotonVolver mt-4  text-left">
                <a href={{app.request.headers.get('referer')}}><button type="button" class="btn btn-primary" id="botonVolver"><i class="fas fa-arrow-left"></i> Volver</button></a>
            </div>
        </div>
        </div>
    </div>
{% block javascripts %}
        {{ parent() }}
        {{encore_entry_script_tags('normaEdit')}}
    {% endblock  %}  
{% endblock %}
