{% extends 'base.html.twig' %}

{% block title %}Norma{% endblock %}
{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('normaShow') }}
    {{ encore_entry_link_tags('scrollCss') }}
{% endblock %}

{% for flash_message in app.session.flashbag.get('verifPublicar') %}
        <div class="card shadow mb-5 rounded" id="cardAdvertencia">
            <div class="flash-notice text-white font-weight-bolder text-center">
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}

    <div class="container mt-3 mb-3">
        <div class="card text-center shadow mb-5 bg-white rounded" id="cardGeneral">
                {% if norma.estado == "Borrador" %}
                    <div class="card-header text-center" id="headerText">
                        <div id="contenedorBotonVolver" class="text-left mt-1">
                            <a class="btn btn-primary rounded-circle botonAtras" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                        </div>
                            <th>{{norma.tipoNorma.nombre}} N° </th>
                            {% if norma.numeroAuxiliar != null  %}
                                {{ norma.numeroAuxiliar }}(borrador)
                            {% else %}
                                {{ "----" }}
                            {% endif %}
                    </div>
                {% elseif norma.estado == "Lista" %}
                    <div class="card-header text-center" id="headerText">
                        <div id="contenedorBotonVolver" class="text-left mt-1">
                            <a class="btn btn-primary rounded-circle botonAtras" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                        </div>
                            <th>{{norma.tipoNorma.nombre}} N° </th>
                            {% if norma.numeroAuxiliar != null  %}
                                {{ norma.numeroAuxiliar }}
                            {% else %}
                                {{ "----" }}
                            {% endif %}
                    </div>
                {% else %}
                    <div class="card-header text-center" id="headerText">
                        <div id="contenedorBotonVolver" class="text-left mt-1">
                            <a href="{{path('norma_index')}}" class="btn btn-primary rounded-circle botonAtras" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
                        </div>
                            <th>{{norma.tipoNorma.nombre}} N° </th>
                            {% if norma.numeroAuxiliar != null  %}
                                {{ norma.numeroAuxiliar }}
                            {% else %}
                                {{ "----" }}
                            {% endif %}
                    </div>
                {% endif %}
                <div class="card-body">

                <h5 class="card-title">{{ norma.titulo }}</h5>
                {# <p class="card-text text-left">Fecha de sanción: {{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</p> #}
                {% if norma.fechaSancion %}
                    <p class="card-text text-left"><strong>Fecha de sanción: </strong>{{ norma.fechaSancion ? norma.fechaSancion|date('d-m-Y') : '' }}</p>
                {% endif %}
                {% if norma.fechaPromulgacion %}
                    <p class="card-text text-left"><strong>Fecha de promulgación: </strong>{{ norma.fechaPromulgacion ? norma.fechaPromulgacion|date('d-m-Y') : '' }}</p>
                {% endif %}
                {% if norma.fechaPublicacionBoletin %}
                <p class="card-text text-left"><strong>Fecha de publicación Boletín: </strong>{{ norma.fechaPublicacionBoletin ? norma.fechaPublicacionBoletin|date('d-m-Y') : '' }}</p>
                {% endif %}
                {% if norma.estado =="Publicada" %}
                    <p class="card-text"><strong>Fecha de publicación: </strong>{{ norma.fechaPublicacion ? norma.fechaPublicacion|date('d-m-Y') : '' }}</p>
                {% endif %}
                <p class="card-text text-left"><strong>Resumen: </strong>{{ norma.resumen }}</p>

                {# block de archivos: #}
                {% if norma.archivos|length > 0 %}
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                            <div class="card mt-3 mb-1" id="cardArchivos">
                                <div class="card-body">
                                    <h5 id="h5Archivos" class="">Archivos adjuntos</h5>
                                    {# {% if "DIG_OPERADOR" in roles and norma.estado == "Borrador" and usuarioReparticion == 1 %}
                                    <div class="contenedorBotonMas">
                                        <a href="{{path('agregar_archivo', {'id': norma.id})  }}" class="btn btn-secondary btn-sm" id="botonMas"><i class="fas fa-solid fa-plus iconoMas"></i></a>
                                    </div> 
                                    {% endif %}#}
                                    {# {% if "DIG_EDITOR" in roles and (norma.estado == "Lista" or norma.estado == 'Publicada') and usuarioReparticion == 1 %}
                                    <div class="contenedorBotonMas">
                                        <a href="{{path('agregar_archivo', {'id': norma.id})  }}" class="btn btn-secondary btn-sm" id="botonMas"><i class="fas fa-solid fa-plus iconoMas"></i></a>
                                    </div>
                                    {% endif %} #}
                                    {% for unPdf in norma.archivos %}
                                        <div class="mt-2">
                                            {% if unPdf.tipo == 'pdf' %}
                                                <a target="_blank" href="{{asset('uploads/' ~ unPdf.ruta)  }}"id="linkArchivo">{{unPdf.nombre}} <i class="fas fa-file-pdf"></i></a>
                                            {% elseif unPdf.tipo == 'docx' or unPdf.tipo == 'txt'  %}
                                                <a target="_blank" href="{{asset('uploads/' ~ unPdf.ruta)  }}" id="linkArchivo">{{unPdf.nombre}}<i class="fa-solid fa-file-word"></i></a>
                                            {% else %}
                                                <a target="_blank" href="{{asset('uploads/' ~ unPdf.ruta)  }}" id="linkArchivo">{{unPdf.nombre}}</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                {% endif %}
                    
                {# <br> #}
                {% if norma.etiquetas|length > 0 %}
                    <p class="card-text text-left mt-2"><strong><i class="fa-solid fa-tags"></i>Etiquetas:</strong>
                    {% for etiqueta in norma.etiquetas %}
                        <a href="{{path('busqueda_id_etiqueta',{'id':etiqueta.getId})}}">{{etiqueta}}  </a> |
                    
                    {% endfor %}
                </p>
                {% endif %}
                
                {% if norma.estado == "Publicada" and user|length > 0 %}
                <p class="card-text text-left"><strong><i class="fa-solid fa-user"></i>Publicado por :
                    {{user}}</strong></p>
                {% endif %}
                <br>
                {# <div class="container" id="containerBotones">
                    {% if norma.estado == "Publicada" and  "DIG_EDITOR" in roles and usuarioReparticion == 1 %}
                    <div class="divBotones mt-3 mr-2">
                        <a href="{{path('norma_edit',{'id': norma.id})}}"><button type="button" class="btn btn-success botones editar" value="{{norma.id}}" id="btn">Editar</button></a>
                    </div>
                    {% endif %}
                    {% if "DIG_OPERADOR" in roles and norma.estado == "Borrador" and usuarioReparticion == 1 %}
                        <div class="divBotones mt-3 mr-2">
                            <a href="{{path('norma_edit',{'id': norma.id})}}"><button type="button" class="btn btn-success botones editar" value="{{norma.id}}" id="btn">Editar</button></a>
                        </div>
                        <div class="divBotones mt-3 mr-2">
                            {{ include('norma/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                    {% if "DIG_EDITOR" in roles and norma.estado == "Lista" and usuarioReparticion == 1 %}
                        <div class="divBotones mt-3 mr-2">
                            <a href="{{path('norma_edit',{'id': norma.id})}}"><button type="button" class="btn btn-success botones editar" value="{{norma.id}}" id="btn">Editar</button></a>
                        </div>
                        <div class="divBotones mt-3 mr-2">
                            {{ include('norma/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div> #}
                {% if relacion %}
                    <table class="table" id="tablaRela">
                        <thead class="thead">
                            <tr>
                                <th scope="col" id="relacionColHead">Relación</th>
                                <th scope="col" id="relacionNorHead">Norma</th>
                                {# {% if ("DIG_OPERADOR" in roles and norma.estado != "Publicada" and usuarioReparticion == 1) or ("DIG_EDITOR" in roles and (norma.estado == "Publicada" or norma.estado == 'Lista') and usuarioReparticion == 1) %}
                                <th id="relacionEditHead"scope="col">Editar</th>
                                {% else %} #}
                                    <th scope="col" id="relacionNorHead" ></th>
                                {# {% endif %} #}
                            </tr>
                        </thead>
                                {% for rela in relacion %}
                                <tbody class="tbody">
                                    <tr id="trRela">
                                        <td id="relacionCol">{{rela.getTipoRelacion.getNombre}}</td>
                                        <td id="relacionNor"><a href="{{path('norma_show', {'id': rela.getComplementada.getId}) }}">{{rela.getComplementada.getTitulo}}</a></td>
                                        {# {% if ("DIG_OPERADOR" in roles and norma.estado != "Publicada" and usuarioReparticion == 1) or ("DIG_EDITOR" in roles and (norma.estado == "Publicada" or norma.estado == 'Lista') and usuarioReparticion == 1) %}
                                        <td id="relacionEdit">
                                            <a href="{{path('relacion_edit', {'id':norma.id,'idA':rela.getComplementada.getId,'idR':rela.getId})}}"><button class="btn btn-info btn-sm d-inline float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                            {{include('relacion/_delete_form.html.twig')}}
                                        </td>
                                        {% else %} #}
                                        <td id="relacionEdit"></td>
                                        {# {% endif %} #}
                                    </tr>
                                    <tr>
                                        <td>Observaciones</td>
                                        <td>{{rela.getDescripcion}}</td>
                                        <td></td>
                                    </tr>
                                    {% if rela.getResumen %}
                                    <tr>
                                        <td>Resumen</td>
                                        <td>{{rela.getResumen}}</td>
                                        <td></td>
                                    </tr>
                                    {% endif %}
                            {% endfor %}</tbody>
                    </table>
                {# </div> #}
                {% endif %}
                {# {% if "DIG_OPERADOR" in roles and norma.estado == "Borrador" and usuarioReparticion == 1 %}
                    <div class="divBotones text-center">
                        <a href="{{ path('form_rela_edit', {'id': norma.id}) }} "><button type="button" class="btn " id="btn"> Agregar relacion</button></a>
                    </div>
                    {% endif %}
                    {% if "DIG_EDITOR" in roles and (norma.estado == "Lista" or norma.estado == 'Publicada') and usuarioReparticion == 1 %}
                    <div class="divBotones text-center">
                        <a href="{{ path('form_rela_edit', {'id': norma.id}) }} "><button type="button" class="btn " id="btn"> Agregar relacion</button></a>
                    </div>
                    <br>
                    
                    {% endif %} 
                <br>#}
                <br>
                <div class="card" id="cardTexto">
                    <div class="headerPdf">
                        <div class="row">
                            <div class="col-12 findAndSeek">
                                <div class="ml-5 contenedorBotonPDF">
                                    <a target="_blank" href="{{path('mostrar_pdf', {'id': norma.id})  }}"><button type="button" id="verPdf" class="btn"><strong>VER PDF </strong><i class="fas fa-file-pdf"></i></button></a>
                                </div>
                                <div class="input-group" id="busqueda-input-texto">
                                    <input type="text" class="form-control" id="busquedaTexto" value="" placeholder="Buscar en el texto" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left mt-3 mb-3 mr-2 ml-2" style="border-radius: 0.25rem!important;" id="alertFiltro"></div>
                    <div class="card-body">
                        <div class="text-justify" id="parrafo">
                            <p id="textoCompleto">
                                {{(norma.texto) | purify}}
                            </p>
                        </div >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="ir-arriba"><i class="fa-solid fa-circle-chevron-up"></i></span>
    </div>
    
{% block javascripts %}
        {{ parent() }}
        {{encore_entry_script_tags('normaEdit')}}
        {{encore_entry_script_tags('scroll')}}
    {% endblock  %}  
{% endblock %}
