

{% block addStyleSheets %}
    {{ encore_entry_link_tags('pdf') }}
{% endblock %}
{# <div class="containgerImg">
    <img alt="" src="uploads/imagenes/Logomunicipalidad.png" style="height:99px;width:200px;" />
    <img id="logoHcd" alt="" src="uploads/imagenes/LogoHcd.png" />
</div>
<hr id="separador"> #}
{% block title %}
<div class="titulo">
    <strong>{{id.getTitulo}}</strong>
</div>
{% endblock %}

{% block body %}



{# <strong>{{ id.titulo }}</strong> #}
<div class="containerPdf">
    <br>
    {% if id.fechaSancion %}
        <strong>Fecha de sanción:</strong> {{ id.fechaSancion ? id.fechaSancion|date('d-m-Y') : '' }}
    <br>
    {% endif %}
    {% if id.fechaPublicacion %}
    <strong>Fecha de publicación: </strong>{{ id.fechaPublicacion ? id.fechaPublicacion|date('d-m-Y') : '' }}
    <br>
    {% endif %}
    {% if id.fechaPublicacionBoletin %}
        <strong>Fecha de publicación boletín:</strong> {{ id.fechaPublicacionBoletin ? id.fechaPublicacionBoletin|date('d-m-Y') : '' }}
    <br>
    {% endif %}
    {% if id.fechaPromulgacion %}
        <strong>Fecha de promulgación: </strong> {{ id.fechaPromulgacion ? id.fechaPromulgacion|date('d-m-Y') : '' }}
    <br>
    {% endif %}
    
    
    
    {% if id.resumen %}
    <strong>Resumen: </strong>{{ id.resumen }}
    <br>
    {% endif %}
    <hr>
    <p>{{(id.texto) | purify}}</p>
</div>




{% endblock %}