{% extends 'base.html.twig' %}

{% block title %}Trayecto de la norma{% endblock %}

{% block body %}


{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
<h1>Trayecto de la norma </h1>

<div id="contenedorBotonVolver" class="text-left mt-1">
    <a href="{{app.request.headers.get('referer')}}" class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
</div>
<br>
<br>
<div class="table-responsive">
    <table class="table table-hover ">
        <thead class="table-active" >
        <tr>
            <th>{{ knp_pagination_sortable(auditoriasDeNorma, 'Id', 'p.id') }}</th>
            <th>{{knp_pagination_sortable(auditoriasDeNorma, 'Fecha', 'p.fecha')}}</th>
            <th>{{ knp_pagination_sortable(auditoriasDeNorma, 'Autor', 'p.nombreUsuario') }}</th>
            <th>{{knp_pagination_sortable(auditoriasDeNorma, 'Accion', 'p.accion')}}</th>
        </tr>
    </thead>
    <tbody>
        {% for unaAuditoria in auditoriasDeNorma %}
            {% if unaAuditoria.estadoActual == "Borrador" %}
            <tr class="table-warning">
                <td>
                    {{unaAuditoria.id}}
                </td>
                <td>
                    {{ unaAuditoria.fecha|date('d-m-Y\\ H:i') }}
                </td>
                <td>
                    {{ unaAuditoria.nombreUsuario }}
                </td>
                <td>
                    {{ unaAuditoria.accion }}
                </td>
            </tr>
            {% elseif unaAuditoria.estadoActual == "Lista"%}
            <tr class="table-success">
                <td>
                    {{unaAuditoria.id}}
                </td>
                <td>
                    {{ unaAuditoria.fecha|date('d-m-Y\\ H:i') }}
                </td>
                <td>
                    {{ unaAuditoria.nombreUsuario }}
                </td>
                <td>
                    {{ unaAuditoria.accion }}
                </td>
            </tr>
            {% elseif unaAuditoria.estadoActual == "Publicada" %}
            <tr class="table-primary">
                <td>
                    {{unaAuditoria.id}}
                </td>
                <td>
                    {{ unaAuditoria.fecha|date('d-m-Y\\ H:i') }}
                </td>
                <td>
                    {{ unaAuditoria.nombreUsuario }}
                </td>
                <td>
                    {{ unaAuditoria.accion }}
                </td>
            </tr>
            {% else %}
            <tr class="table-danger">
                <td>
                    {{unaAuditoria.id}}
                </td>
                <td>
                    {{ unaAuditoria.fecha|date('d-m-Y\\ H:i') }}
                </td>
                <td>
                    {{ unaAuditoria.nombreUsuario }}
                </td>
                <td>
                    {{ unaAuditoria.accion }}
                </td>
            </tr>
            {% endif %}
    {% else %}
        <tr>
            <td colspan="3">no se encontraron registros</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(auditoriasDeNorma) }}
</div>
</div>
<div class="text-center">
    <span class="badge badge-warning badgeEstado">Borrador</span>
    <span class="badge badge-success badgeEstado">Lista</span>
    <span class="badge badge-primary badgeEstado">Publicada</span>
    <span class="badge badge-danger badgeEstado">Eliminada</span>
</div>

{% block javascripts %}
    {{encore_entry_script_tags('busquedaParamItem')}}
    {% endblock %}
{% endblock %}