{% extends 'base.html.twig' %}

{% block title %}TipoNormaRol index{% endblock %}

{% block body %}

<h1>Roles del tipo de norma {{tipoNorma.nombre}}</h1>

    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active" >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                {% if rol == "DIG_ADMINISTRADOR" %}
                <th>Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r in roles %}
            <tr>
                <td>
                    {{ r.id }}
                </td>
                <td>
                    {{ r.nombreRol }}
                </td>
                {% if rol == "DIG_ADMINISTRADOR" %}
                <td>
                    <a  href="{{path('tipo_norma_rol_edit', {'id': r.id,'t':tipoNorma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    {{ include('tipo_norma_rol/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% if rol=="DIG_ADMINISTRADOR" %}
    <a href="{{ path('tipo_norma_rol_new',{'id': tipoNorma.id}) }}"> <button  type="button" class="btn btn-info btn-sm">Agregarle rol a {{tipoNorma}}</button> </a>
    {% endif %}
{% endblock %}
