{% extends 'base.html.twig' %}

{% block title %}TipoNormaRol index{% endblock %}

{% block body %}

<h1>Roles del tipo de norma {{tipoNorma.nombre}}</h1> 
{% if "DIG_ADMINISTRADOR" in roles %}
    <div id="contenedorBotonVolver" class="text-left mt-1">
        <a href="{{path('tipo_norma_index')}}" class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <a href="{{ path('tipo_norma_rol_new',{'id': tipoNorma.id}) }}"> <button  type="button" class="btn btn-outline-info btn-sm ml-3">Agregar <i class="fa-solid fa-plus"></i></button> </a>
{% endif %}
<br>
<br>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active" >
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                {% if "DIG_ADMINISTRADOR" in roles %}
                <th>Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r in rolesTipo %}
            <tr>
                <td>
                    {{ r.id }}
                </td>
                <td>
                    {{ r.nombreRol }}
                </td>
                {% if "DIG_ADMINISTRADOR" in roles %}
                <td>
                    <a  href="{{path('tipo_norma_rol_edit', {'id': r.id,'t':tipoNorma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    {{ include('tipo_norma_rol/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
