{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{{ parent() }}


<h5><a href="{{path('titulo_show_arbol', {'id': titu.id})  }}">{{titu.getNombre()}}</a> > <a href="{{path('capitulo_show_arbol', {'id': capi.id})  }}">{{capi.getNombre()}}</a> > {{tema.getNombre()}} </h5>
{% for norma in normasTema %}
<div class="container mt-3 mb-3">
    <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
            <th>{{norma.tipoNorma.nombre}} N° </th>
            
            {{ norma.numero }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ norma.titulo }}</h5>
            {# <p class="card-text">Fecha de sansión: {{ norma.fechaSancion ? norma.fechaSancion|date('Y-m-d') : '' }}</p>
            <p class="card-text">Fecha de publicacion: {{ norma.fechaPublicacion ? norma.fechaPublicacion|date('Y-m-d') : '' }}</p> #}
            {% set url = '/norma/'~norma.id~'/'~tema.getId() %}
            <a href="{{url}}"  class="btn btn-primary">Ver Norma</a>
        </div>
        {# <div class="card-footer text-muted">
            <a href="{{ path('norma_index') }}">
                <button type="button" class="btn btn-info"> Back to list <i class="fas fa-arrow-left"></i> </button> 
            </a>
        </div> #}
        <div class="card-footer text-muted">
            
        </div>
        </div>
    </div>
    {% endfor %}

{# <a href="{{ path('norma_nueva') }}">Create new</a> #}
{% endblock %}


