{% extends 'base.html.twig' %}

{% block title %}Relacion index{% endblock %}

{% block body %}
    <h1>Relacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaRelacion</th>
                <th>Descripcion</th>
                <th>Resumen</th>
                <th>Usuario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relacion in relacions %}
            <tr>
                <td>{{ relacion.id }}</td>
                <td>{{ relacion.fechaRelacion ? relacion.fechaRelacion|date('Y-m-d') : '' }}</td>
                <td>{{ relacion.descripcion }}</td>
                <td>{{ relacion.resumen }}</td>
                <td>{{ relacion.usuario }}</td>
                <td>
                    <a href="{{ path('relacion_show', {'id': relacion.id}) }}">show</a>
                    <a href="{{ path('relacion_edit', {'id': relacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('relacion_new') }}">Create new</a>
{% endblock %}
