{% extends 'base.html.twig' %}


{% block body %}

{{ parent() }}

{# funcion recursiva macro para acomodar el arbol #}
{# {% macro recursiveItem(subitem) %}

<div class="accordion" id="accordionSubitem{{subitem.getId()}}">
    {% if subitem.getDependencias != null %}
        {% for unSubitem in subitem.getDependencias %}
            <div class="card ml-5 mr-5" >
                <div class="card-header" id="headingSubitem{{subitem.getId()}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSubitem{{unSubitem.getId()}}" aria-expanded="false" aria-controls="collapseSubitem{{unSubitem.getId()}}">
                            {{unSubitem.nombre}} 
                            <div class="text-right">
                                <span class="fa-stack fa-sm"><i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span>
                            </div>
                        </button>
                        <a class="btn btn-outline-info btn-sm ml-3" type="button" href="{{ path('item_edit', {'id': unSubitem.id})   }}">
                            Editar
                        </a>
                        <a class="btn btn-outline-danger btn-sm ml-3" type="button" href="{{ path('item_delete', {'id': unSubitem.id})   }}">
                            Eliminar
                        </a>
                    </h2>
                </div>
                <div id="collapseSubitem{{unSubitem.getId()}}" class="collapse" aria-labelledby="headingSubitem{{subitem.getId()}}" data-parent="#accordionSubitem{{subitem.getId()}}">
                    {{ _self.recursiveItem(unSubitem) }}
                </div>
            </div>
        {% endfor %}
        {% if subitem.getNormas()|length >= 1 %}
            <div class="card ml-5 mr-5" >
                <div class="card-header" id="headingSubitem{{subitem.getId()}}">
                    <h2 class="mb-0">
                        <h5><a id="scroll" href="#item"><button class="valor123 btn btn-light" type="button" value="{{subitem.getId()}}">Ver normas realcionadas con "{{subitem.nombre}}"</button></a></h5>
                    </h2>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endmacro %}

{% if items %}
    <div class="container ">
        <div class="accordion" id="accordionItem">
            {% for unItem in items %}
                {% if (unItem.padre == null) %}
                    <div class="card">
                        <div class="card-header"  id="headingItem{{unItem.getId()}}">
                            
                                <div >
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseItem{{unItem.getId()}}" aria-expanded="false" aria-controls="collapseItem{{unItem.getId()}}">
                                        {{unItem.nombre}}
                                        <div class="text-right">
                                            <span class="fa-stack fa-sm text-right" ><i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span>
                                        </div>
                                            
                                        
                                    </button>
                                </div>
                                    
                                <a class="btn btn-outline-info btn-sm ml-3" type="button" href="{{ path('item_edit', {'id': unItem.id})   }}">
                                    Editar 
                                </a>
                                
                            
                        </div>
                        <div id="collapseItem{{unItem.getId()}}" class="collapse" aria-labelledby="headingItem{{unItem.getId()}}" data-parent="#accordionItem">
                            {{ _self.recursiveItem(unItem) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-outline-secondary btn-sm ml-1" type="button" href="{{path('item_new')}}">
            Agregar Item
        </a>
    </div>
{% endif %}  #}
{% macro recursiveItem(subitem,rol) %}

<div class="accordion" id="accordionSubitem{{subitem.getId()}}">
    {% if subitem.getDependencias != null %}
        {% for unSubitem in subitem.getDependencias %}
            <div class="card ml-2 mr-2" >
                <div class="card-header" id="headingSubitem{{subitem.getId()}}">
                    <div class="">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSubitem{{unSubitem.getId()}}" aria-expanded="false" aria-controls="collapseSubitem{{unSubitem.getId()}}">
                            {{unSubitem.nombre}} 
                            
                        </button>
                        <span class="fa-stack fa-sm"><i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span>
                            {% if rol == "DIG_OPERADOR" %}
                                <a class="btn btn-outline-info btn-sm ml-3" type="button" href="{{ path('item_edit', {'id': unSubitem.id})   }}">
                                    Editar
                                </a>
                                <a class="btn btn-outline-danger btn-sm ml-3" type="button" href="{{ path('item_delete', {'id': unSubitem.id})   }}">
                                    Eliminar
                                </a>
                            {% endif %}
                            {% if unSubitem.getNormas()|length >= 1 %}
                                <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unSubitem.getId()}}">Ver normas</button></a>
                            {% endif %}
                    </div>
                    
                </div>
                <div id="collapseSubitem{{unSubitem.getId()}}" class="collapse" aria-labelledby="headingSubitem{{subitem.getId()}}" data-parent="#accordionSubitem{{subitem.getId()}}">
                    {{ _self.recursiveItem(unSubitem,rol) }}
                </div>
            </div>
        {% endfor %}
        
    {% endif %}
</div>

{% endmacro %}

{% if items %}
    <div class="container ">
        <div class="accordion" id="accordionItem">
            {% for unItem in items %}
                {% if (unItem.padre == null) %}
                    <div class="card">
                        <div class="card-header"  id="headingItem{{unItem.getId()}}">
                                <div class="">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseItem{{unItem.getId()}}" aria-expanded="false" aria-controls="collapseItem{{unItem.getId()}}">
                                        {{unItem.nombre}}
                                        
                                            
                                        
                                    </button>
                                    {% if rol == "DIG_OPERADOR" %}
                                        <a class="btn btn-outline-info btn-sm ml-3" type="button" href="{{ path('item_edit', {'id': unItem.id})   }}">
                                            Editar
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm ml-3" type="button" href="{{ path('item_delete', {'id': unItem.id})   }}">
                                            Eliminar
                                        </a>
                                    {% endif %}
                                    <span class="fa-stack fa mt-2"><i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span>
                                    {% if unItem.getNormas()|length >= 1 %}
                                        <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unItem.getId()}}">Ver normas</button></a>
                                    {% endif %}
                                </div>
                            
                        </div>
                        <div id="collapseItem{{unItem.getId()}}" class="collapse" aria-labelledby="headingItem{{unItem.getId()}}" data-parent="#accordionItem">
                            {{ _self.recursiveItem(unItem,rol) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-outline-secondary btn-sm ml-1" type="button" href="{{path('item_new')}}">
            Agregar Item
        </a>
    </div>
{% endif %} 


<div class="container"id="container">
</div>


{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('indiceJs')}}
    {#<script>
    //     $("#accordionItem").on("hide.bs.collapse show.bs.collapse", e => {
    //         $(e.target)
    //         .prev()
    //         .find("i:last-child")
    //         .toggleClass("fa-minus fa-plus");
    //     });
        
    //     $(document).ready(function()
    //     {
    //         var variable = document.getElementsByClassName("valor123");
    //         $(".valor123").click(function(){
                
    //             var id = this.value;
                
    //             $.get("/norma/"+id+"/normasAjax",function(data){
    //                 var c = $('<div class="card" id="tarjeta"></div >');  
    //                     $('#container').html('');  
    //                     $('#container').append(c);
                        
    //                     for(i = 0; i < data.length; i++) {  
    //                         norma = data[i];
                            
    //                         var c =$('<tr><td class="" id="tipoNorma"></td><td id="numero"></td><td id="titulo"></td></tr> ');
    //                         var c =$('<div class="card text-center  shadow mb-5 bg-white rounded"><div class="card-header "><h5 style="display:inline"; id="tipoNorma"></h5><h5 style="display:inline"; id="n"></h5><h5 style="display:inline"; id="numero"></h5></div><div class="card-body"><h6 class="card-title" id="titulo"></h6></div><div class="card-footer text-muted"><a href="" id="verNorma" class="btn btn-primary" >Ver Norma</a></div></div>');
                            
    //                         $('#tipoNorma', c).html(norma['tipo']);
    //                         $('#n',c).html(" N° ");
    //                         $('#numero', c).html(norma['numero']);
    //                         $('#titulo', c).html(norma['titulo']);
                            
    //                         $('#container').append(c);
    //                         var link = norma['id'];
    //                         //var link 2 es el comentado no el noComentado
    //                         var link2 = "/norma/"+link+"/"+id;
    //                         // var link2= "/norma/"+link+"/"+id ;
                            
    //                         $('#verNorma', c).attr('href',link2);
    //                         $('#container').append(c);
    //                     }
                        
    //                     //window.scrollTo(0, 1500);
    //                     //scroll suave
    //                     var element = document.getElementById("container");
    //                     element.scrollIntoView({behavior: "smooth"});
                        
    //                 })
    //         });
            
    //     });
    // </script>#}

{% endblock %}
{% endblock %}
