{% extends 'base.html.twig' %}

{% block body %}

{{ parent() }}

<div class="container mt-2">
    {% set id = 0 %}
    <div class="accordion" id="accordionTitulo">
        {% for unTitulo in titulos %}
            <div class="card">
                <div class="card-header" id="headingTitulo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTitulo{{unTitulo.getId()}}" aria-expanded="false" aria-controls="collapseTitulo{{unTitulo.getId()}}">
                            {{unTitulo.nombre}}
                        </button>
                    </h2>
                </div>
                <div id="collapseTitulo{{unTitulo.getId()}}" class="collapse" aria-labelledby="headingTitulo" data-parent="#accordionTitulo">
                    <div class="card-body">
                        <div class="accordion" id="accordionCapitulo">
                            {% for unCapitulo in unTitulo.getCapitulos %}
                                <div class="card">
                                    <div class="card-header" id="headingCapitulo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseCapitulo{{unCapitulo.getId()}}" aria-expanded="false" aria-controls="collapseCapitulo{{unCapitulo.getId()}}">
                                                {{unCapitulo.nombre}}
                                            </button>
                                        </h2>
                                    </div>
                                <div id="collapseCapitulo{{unCapitulo.getId()}}" class="collapse" aria-labelledby="headingCapitulo" data-parent="#accordionCapitulo">
                                    <div class="card-body">
                                        <div class="accordion" id="accordionTema">
                                            {% for unTema in unCapitulo.getTemas %}
                                                <div class="card">
                                                    <div class="card-header" id="headingTema">
                                                        <h2 class="mb-0">
                                                            <a id="scroll" href="#item"><button class="valor123 btn btn-link boton" type="button" title="{{unTema.nombre}}" value="{{unTema.getId()}}">{{unTema.nombre}}</button></a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container"id="container">
</div>


{% block script %}
    <script>
        $(document).ready(function()
        {
            var variable = document.getElementsByClassName("valor123");
            $(".valor123").click(function(){
                
                var id = this.value;
                $.get("https://localhost:8000/norma/"+id+"/normasAjax",function(data){            
                    var c = $('<div class="card" id="tarjeta"></div >');  
                        $('#container').html('');  
                        $('#container').append(c);
                        
                        for(i = 0; i < data.length; i++) {  
                            norma = data[i];
                            
                            var c =$('<tr><td class=""id="tipoNorma"></td><td id="numero"></td><td id="titulo"></td></tr> ');
                            var c =$('<div class="card text-center shadow mb-5 bg-white rounded"><div class="card-header"><h5 style="display:inline"; id="tipoNorma"></h5><h5 style="display:inline"; id="n"></h5><h5 style="display:inline"; id="numero"></h5></div><div class="card-body"><h5 class="card-title" id="titulo"></h5></div><div class="card-footer text-muted"><a href="" id="verNorma" class="btn btn-primary" >Ver Norma</a></div></div>');
                            
                            $('#tipoNorma', c).html(norma['tipo']);
                            $('#n',c).html(" N° ");
                            $('#numero', c).html(norma['numero']);
                            $('#titulo', c).html(norma['titulo']);
                            
                            $('#container').append(c);
                            var link = norma['id'];
                            var link2= "/norma/"+link ;
                            
                            $('#verNorma', c).attr('href',link2);
                            $('#container').append(c);
                        }
                        //window.scrollTo(0, 1500);
                        var element = document.getElementById("container");
                        element.scrollIntoView({behavior: "smooth"});
                    })
            });
            
        });
    </script>
{% endblock %}
{% endblock %}
