{% extends 'base.html.twig' %}


{% block body %}

{{ parent() }}


{% macro recursiveItem(subitem,roles,colorSubitem) %}
{% set colorSubitem = colorSubitem + 1 %}
<div class="accordion white" id="accordionSubitem{{subitem.getId()}}">
    {% if subitem.getDependencias != null %}
        {% for unSubitem in subitem.getDependencias %}
            <div class="card ml-4 mr-4 whiteSubitem" >
                <div class="card-header headerItem" id="headingSubitem{{subitem.getId()}}">
                {% if (colorSubitem is even) %}
                    <div class="cardAzulSubitem">
                        <button class="btn btn-link btn-block text-left collapsed btnSubitemAzul" type="button" data-toggle="collapse" data-target="#collapseSubitem{{unSubitem.getId()}}" aria-expanded="false" aria-controls="collapseSubitem{{unSubitem.getId()}}">
                            {{unSubitem.nombre}}
                        </button>
                            {% if "DIG_ADMINISTRADOR" in roles %}
                                <a class="btn btn-sm ml-3 botonSubitemAzul" type="button" href="{{ path('item_edit', {'id': unSubitem.id})   }}">
                                    Editar
                                </a>
                                <a class="btn btn-sm ml-3 botonSubitemAzul" type="button" href="{{ path('item_delete', {'id': unSubitem.id})   }}">
                                    Eliminar
                                </a>
                            {% endif %}
                            {% set bandera = 0 %}
                            {% if unSubitem.getNormas()|length >= 1 %}
                                {% for norma in unSubitem.getNormas %}
                                    {% if norma.estado == "Publicada" and norma.publico == true %}
                                        {% set bandera = 1 %} 
                                    {% endif %}
                                {% endfor %}
                                {% if bandera == 1 %}
                                    <a id="scroll" href="#item"><button class="valor123 btn btn-sm ml-3 botonSubitemAzul" type="button" value="{{unSubitem.getId()}}">Ver normas</button></a>
                                {% endif %}
                                {# <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unSubitem.getId()}}">Ver normas</button></a> #}
                            {% endif %}
                    </div>
                {% else %}
                    <div class="cardTurquesaSubitem">
                        <button class="btn btn-link btn-block text-left collapsed btnSubitemTurquesa" type="button" data-toggle="collapse" data-target="#collapseSubitem{{unSubitem.getId()}}" aria-expanded="false" aria-controls="collapseSubitem{{unSubitem.getId()}}">
                            {{unSubitem.nombre}}
                        </button>
                            {% if "DIG_ADMINISTRADOR" in roles %}
                                <a class="btn btn-sm ml-3 botonSubitemTurquesa" type="button" href="{{ path('item_edit', {'id': unSubitem.id})   }}">
                                    Editar
                                </a>
                                <a class="btn btn-sm ml-3 botonSubitemTurquesa" type="button" href="{{ path('item_delete', {'id': unSubitem.id})   }}">
                                    Eliminar
                                </a>
                            {% endif %}
                            {% set bandera = 0 %}
                            {% if unSubitem.getNormas()|length >= 1 %}
                                {% for norma in unSubitem.getNormas %}
                                    {% if norma.estado == "Publicada" and norma.publico == true %}
                                        {% set bandera = 1 %} 
                                    {% endif %}
                                {% endfor %}
                                {% if bandera == 1 %}
                                    <a id="scroll" href="#item"><button class="valor123 btn btn-sm ml-3 botonSubitemTurquesa" type="button" value="{{unSubitem.getId()}}">Ver normas</button></a>
                                {% endif %}
                                {# <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unSubitem.getId()}}">Ver normas</button></a> #}
                            {% endif %}
                    </div>
                {% endif %}
                </div>
                <div id="collapseSubitem{{unSubitem.getId()}}" class="collapse" aria-labelledby="headingSubitem{{subitem.getId()}}" data-parent="#accordionSubitem{{subitem.getId()}}">
                    {{ _self.recursiveItem(unSubitem,roles,colorSubitem) }}
                </div>
            </div>
            {% set colorSubitem = colorSubitem + 1 %}
        {% endfor %}
        
    {% endif %}
</div>

{% endmacro %}




{% if items %}
    {% set color = 0 %}
    <div class="container ">
        <div class="accordion white" id="accordionItem">
            {% if bandera == 1 %}
            <h1 class="vigente-noVigente">Normas vigentes</h1>
            {% else %}
            <h1 class="vigente-noVigente">Normas no vigentes</h1>
            {% endif %}
            {% for unItem in items %}
                {# {% if (unItem.padre == null) %} #}
                    <div class="card white">
                        <div class="card-header headerItem"  id="headingItem{{unItem.getId()}}">
                            {% if (color is even) %}
                                <div class="cardAzul">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseItem{{unItem.getId()}}" aria-expanded="false" aria-controls="collapseItem{{unItem.getId()}}">
                                        {{unItem.nombre}}
                                    </button>
                                    {% if "DIG_ADMINISTRADOR" in roles %}
                                        <a class="btn btn-sm ml-3 botonAzul" type="button" href="{{ path('item_edit', {'id': unItem.id})   }}">
                                            Editar
                                        </a>
                                        <a class="btn btn-sm ml-3 botonAzul" type="button" href="{{ path('item_delete', {'id': unItem.id})   }}">
                                            Eliminar
                                        </a>
                                    {% endif %}
                                    {# <span class="fa-stack fa mt-2"><i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span> #}
                                        {% set bandera = 0 %}
                                    {% if unItem.getNormas()|length >= 1 %}
                                        {% for norma in unItem.getNormas %}
                                            {% if norma.estado == "Publicada" and norma.publico == true %}
                                                {% set bandera = 1 %} 
                                            {% endif %}
                                        {% endfor %}
                                        {% if bandera == 1 %}
                                            <a id="scroll" href="#item"><button class="valor123 btn btn-sm ml-3 botonAzul" type="button" value="{{unItem.getId()}}">Ver normas</button></a>
                                        {% endif %}
                                        {# <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unItem.getId()}}">Ver normas</button></a> #}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="cardTurquesa">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseItem{{unItem.getId()}}" aria-expanded="false" aria-controls="collapseItem{{unItem.getId()}}">
                                        {{unItem.nombre}}
                                    </button>
                                    {% if "DIG_ADMINISTRADOR" in roles %}
                                        <a class="btn btn-sm ml-3 botonTurquesa" type="button" href="{{ path('item_edit', {'id': unItem.id})   }}">
                                            Editar
                                        </a>
                                        <a class="btn btn-sm ml-3 botonTurquesa" type="button" href="{{ path('item_delete', {'id': unItem.id})   }}">
                                            Eliminar
                                        </a>
                                    {% endif %}
                                    {# <span class="fa-stack fa mt-2"><i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i></span> #}
                                        {% set bandera = 0 %}
                                    {% if unItem.getNormas()|length >= 1 %}
                                        {% for norma in unItem.getNormas %}
                                            {% if norma.estado == "Publicada" and norma.publico == true %}
                                                {% set bandera = 1 %} 
                                            {% endif %}
                                        {% endfor %}
                                        {% if bandera == 1 %}
                                            <a id="scroll" href="#item"><button class="valor123 btn btn-sm ml-3 botonTurquesa" type="button" value="{{unItem.getId()}}">Ver normas</button></a>
                                        {% endif %}
                                        {# <a id="scroll" href="#item"><button class="valor123 btn btn-outline-success btn-sm ml-3" type="button" value="{{unItem.getId()}}">Ver normas</button></a> #}
                                    {% endif %}
                                </div>
                            {% endif %}
                            
                        </div>
                        <div id="collapseItem{{unItem.getId()}}" class="collapse" aria-labelledby="headingItem{{unItem.getId()}}" data-parent="#accordionItem">
                            {{ _self.recursiveItem(unItem,rol,color) }}
                        </div>
                    </div>
                {# {% endif %} #}
                {% set color = color + 1 %}
            {% endfor %}
        </div>
    </div>
{% endif %} 


<div class="container"id="container">
</div>


{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('indiceJs')}}
    {#<script>
    //     $("#accordionItem").on("hide.bs.collapse show.bs.collapse", e => {
    //         $(e.target)
    //         .prev()
    //         .find("i:last-child")
    //         .toggleClass("fa-minus fa-plus");
    //     });
        
    //     $(document).ready(function()
    //     {
    //         var variable = document.getElementsByClassName("valor123");
    //         $(".valor123").click(function(){
                
    //             var id = this.value;
                
    //             $.get("/norma/"+id+"/normasAjax",function(data){
    //                 var c = $('<div class="card" id="tarjeta"></div >');  
    //                     $('#container').html('');  
    //                     $('#container').append(c);
                        
    //                     for(i = 0; i < data.length; i++) {  
    //                         norma = data[i];
                            
    //                         var c =$('<tr><td class="" id="tipoNorma"></td><td id="numero"></td><td id="titulo"></td></tr> ');
    //                         var c =$('<div class="card text-center  shadow mb-5 bg-white rounded"><div class="card-header "><h5 style="display:inline"; id="tipoNorma"></h5><h5 style="display:inline"; id="n"></h5><h5 style="display:inline"; id="numero"></h5></div><div class="card-body"><h6 class="card-title" id="titulo"></h6></div><div class="card-footer text-muted"><a href="" id="verNorma" class="btn btn-primary" >Ver Norma</a></div></div>');
                            
    //                         $('#tipoNorma', c).html(norma['tipo']);
    //                         $('#n',c).html(" N° ");
    //                         $('#numero', c).html(norma['numero']);
    //                         $('#titulo', c).html(norma['titulo']);
                            
    //                         $('#container').append(c);
    //                         var link = norma['id'];
    //                         //var link 2 es el comentado no el noComentado
    //                         var link2 = "/norma/"+link+"/"+id;
    //                         // var link2= "/norma/"+link+"/"+id ;
                            
    //                         $('#verNorma', c).attr('href',link2);
    //                         $('#container').append(c);
    //                     }
                        
    //                     //window.scrollTo(0, 1500);
    //                     //scroll suave
    //                     var element = document.getElementById("container");
    //                     element.scrollIntoView({behavior: "smooth"});
                        
    //                 })
    //         });
            
    //     });
    // </script>#}

{% endblock %}
{% endblock %}
