{% extends 'base.html.twig' %}

{% block title %}Inicio Administracion{% endblock %}
{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('inicio') }}
{% endblock %}

<div class="container mt-3 mb-3" id="containerC">
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-body text-center" >
            <h1> Bienvenido al digesto de la ciudad de Paraná  </h1>
            <div class="container text-center" id="contenedor">
                <a class="btn btn-primary" type="button" href="{{ path('indice_vigente')  }}">
                    Normas vigentes
                </a>
                <a class="btn btn-primary" type="button" href="{{ path('indice_no_vigente')  }}">
                    Normas no vigentes
                </a>
                <a class="btn btn-primary" type="button" href="{{ path('formulario_busqueda')  }}">
                    Busqueda avanzada
                </a>
        
                {# <div class="input-group float-right" id="casilleroBusqueda">
                    <input type="text" class="form-control" id="busquedaRapida" value="" placeholder="Busqueda por titulo" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                    <div class="input-group-prepend">
                        <button class="btn btn-success btn-sm rounded" id="botonLupita"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('busquedaJs')}}
{% endblock %}
{% endblock %}


