{% extends 'base.html.twig' %}

{% block title %}Inicio Administracion{% endblock %}
{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('inicio') }}
{% endblock %}

<div class="container mt-3 mb-3" id="containerC">
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-body text-center" >
            <h1> Bienvenido al digesto de la ciudad de Paraná  </h1>
            <div class="container text-center" id="contenedor">
                <a class="btn btn-primary" type="button" href="{{ path('indice_vigente')  }}">
                    Normas vigentes
                </a>
                <a class="btn btn-primary" type="button" href="{{ path('indice_no_vigente')  }}">
                    Normas no vigentes
                </a>
                <a class="btn btn-primary" type="button" href="{{ path('formulario_busqueda')  }}">
                    Busqueda avanzada
                </a>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-outline-info btn-sm dropdown-toggle" role="button" data-toggle="collapse" href="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Necesito ayuda <i class="fa-solid fa-circle-question"></i> <span class="caret"></span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card shadow-sm">
                                <div class="card-body sm">
                                    <form action="{{path('consulta')}}" method="get">
                                        <div class="row">
                                            <div class="col-3 text-left" >
                                                <strong>Nombre</strong>
                                            </div>
                                            <div class="col-3" >
                                                <input type="text" class="form-control form-control-sm" id="nombre" name="nombre"
                                                placeholder="nombre" />
                                            </div>
                                            <div class="col-3 text-left" >
                                                <strong>Correo electronico</strong>
                                            </div>
                                            <div class="col-3" >
                                                <input type="text" class="form-control form-control-sm" id="correo" name="correo"
                                                placeholder="ejemplo@gmail.com" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 text-left" >
                                                <strong>Tema de consulta</strong>
                                            </div>
                                            <div class="col-3" >
                                                <select name="tema" id="tema" class="form-control selectpicker" data-live-search="true">
                                                    <option></option>
                                                    <option >Digesto</option>
                                                    <option > No encuentro una norma</option>   
                                                    <option >Problemas con una norma</option>
                                                    <option>Otro</option>   
                                                </select>
                                            </div>
                                            <div class="col-3 text-left" >
                                                <strong>Teléfono</strong>
                                            </div>
                                            <div class="col-3" >
                                                <input type="number" class="form-control form-control-sm" id="telefono" name="telefono"
                                                    placeholder="Ej: 3435555555 (sin 0 y 15)" />
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-3"></div>
                                            <div class="col-6 text-center">
                                                <textarea  rows="4" cols="50" class="form-control form-control-sm" id="consulta" name="consulta"
                                                    placeholder="Escriba su consulta aqui..." /></textarea>
                                            </div>
                                            <div class="col-3"></div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary cargando" > Consultar <i class="fa-solid fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('busquedaJs')}}
{% endblock %}
{% endblock %}


