{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('inicio') }}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<div class="container-fluid mt-3 mb-3 text-center" id="containerC">
    {# <div class="card shadow mb-5 bg-white rounded"> #}
        {# <div class="card-body text-center" > #}
            <h1 id="tituloInicio"> ¡Bienvenido al digesto de la Municipalidad de Paraná! <br> Aquí encontrarás todas las normativas de la ciudad.  </h1>
            <div class="container-fluid text-center" id="contenedorBotonesInicio">
                <a class="btn btn-light botonesInicio " type="button" href="{{ path('indice_vigente')  }}">
                    Normas vigentes
                </a>
                <a class="btn btn-light botonesInicio " type="button" href="{{ path('indice_no_vigente')  }}">
                    Normas no vigentes
                </a>
                <a class="btn btn-light botonesInicio " type="button" href="{{ path('formulario_busqueda')  }}">
                    Búsqueda avanzada
                </a>
                <br>
                <br>
                {# <div class="row">
                    <div class="col-sm-12"> #}
                        
                        <a class="btn btn-outline-info btn-sm dropdown-toggle mb-1 botonConsulta" role="button" data-toggle="collapse" href="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Necesito ayuda <i class="fa-solid fa-circle-question"></i> <span class="caret"></span>
                        </a>
                        <div class="container-xl">
                            {% for flash_message in app.session.flashbag.get('notice') %}
                                <div class="card shadow mb-5 rounded" id="cardAdvertencia">
                                    <div class="flash-notice text-white font-weight-bolder text-center">
                                        {{ flash_message }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="collapse" id="collapseExample">
                                <div class="card shadow-sm">
                                    <div class="card-body sm mt-4">
                                        <form id="form-consulta" action="consulta/consulta" method="POST">
                                            <div class="row modificable">
                                                <div class="text-left mb-3 cambio1" >
                                                    <strong>Nombre</strong>
                                                </div>
                                                <div class="mb-3 cambio2" >
                                                    <input type="text" class="form-control form-control-sm" id="nombre" name="nombre"
                                                    placeholder="Nombre" />
                                                </div>
                                                <div class="text-left mb-3 ml-4 cambio1" >
                                                    <strong>Correo electrónico</strong>
                                                </div>
                                                <div class="mb-3 cambio2" >
                                                    <input type="text" class="form-control form-control-sm" id="correo" name="correo"
                                                    placeholder="Ejemplo@gmail.com" />
                                                </div>
                                            </div>
                                            <div class="row modificable">
                                                <div class="text-left mb-3 cambio1" >
                                                    <strong>Tema de consulta</strong>
                                                </div>
                                                <div class="mb-3 cambio2" >
                                                    <select name="tema" id="tema" class="form-control selectpicker" data-live-search="true">
                                                        {% for unTipoConsulta in tiposConsultas %}
                                                            <option value="{{unTipoConsulta.nombre}}">{{unTipoConsulta.nombre}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="text-left mb-3 ml-4 cambio1" >
                                                    <strong>Teléfono</strong>
                                                </div>
                                                <div class="mb-3 cambio2" >
                                                    <input type="number" class="form-control form-control-sm" id="telefono" name="telefono"
                                                        placeholder="3435555555 (sin 0 y 15)" />
                                                </div>
                                            </div>
                                            <div class="row modificable">
                                                
                                                <div class="text-left mb-3 cambio3">
                                                    <textarea  rows="4" cols="50" class="form-control form-control-sm" id="consulta" name="consulta"
                                                        placeholder="Escriba su consulta aqui..." /></textarea>
                                                </div>
                                
                                            </div>
                                            <div class="text-center">
                                                <button id="consultar" type="button" class="btn btn-sm btn-outline-info cargando" > Consultar <i class="fa-solid fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                    {# </div> #}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {# </div> #}
    {# </div> #}
</div>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdAchgjAAAAACuDgC982J0m0uEuzjmLmgUjBiLY"></script>
    <script>
        $(document).ready( function(){
            $('#consultar').click(() => {
                grecaptcha.ready(function() {
                    grecaptcha.execute('6LdAchgjAAAAACuDgC982J0m0uEuzjmLmgUjBiLY', {action: 'submit'}).then(function(token) {
                        // Add your logic to submit to your backend server here.
                        $('#form-consulta').prepend('<input type="hidden" name="token" value="'+token+'">');
                        $('#form-consulta').prepend('<input type="hidden" name="action" value="submit">');
                        $('#form-consulta').submit();
                    });
                });
            })
        });
    </script>


    {% block javascripts %}
        {{ parent() }}
        {{encore_entry_script_tags('busquedaJs')}}
        {{encore_entry_script_tags('consulta')}}
    {% endblock %}
{% endblock %}



