{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('botonBarraNavegacion') }}
    {{ encore_entry_link_tags('footer') }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

    <form class="form-signin" id="login" method="POST" action="{{ path('autenticar') }}">

        
        <div class="row ">

            <div class="col-md-4 offset-md-4 mt-5 mb-5">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="card shadow mb-5 rounded" id="cardAdvertencia">
                        <div class="flash-notice text-white font-weight-bolder text-center">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <label for="usuario" class="sr-only">Usuario</label>
                <input type="text" class="form-control" name="username" placeholder="Usuario" required autofocus>
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Contraseña" >
                <br>
                <hr>
                <button style="width:100% !important;" class="btn btn-lg btn-primary" type="submit">Ingresar</button>
            </div>
        </div>
    </form>


{% endblock %}
