{% extends 'base.html.twig' %}

{% block title %}Etiqueta index{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
    <h1>Etiquetas</h1>
    <br>
    <div class="container">
        <div class="input-group float-right ml-auto mr-2">
        <input type="text" class="form-control col-5 float-right" id="busquedaParam" value="" placeholder="Nombre" aria-label="Input group example" aria-describedby="btnGroupAddon2">
        <div class="input-group-prepend">
            <button class="boton btn-info btn-sm" id="btnBusquedaParam"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active">
            <tr>
                <th>{{ knp_pagination_sortable(etiquetas, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(etiquetas, 'Nombre', 'p.nombre')}}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for etiquetum in etiquetas %}
                <tr>
                    <td>
                        {{etiquetum.id}}
                    </td>
                    <td>
                        {{etiquetum.nombre}}
                    </td>
                    <td> 
                        <a  href="{{path('etiqueta_show', {'id': etiquetum.id})  }}"><button class="btn btn-info btn-sm"><i class="fa-solid fa-binoculars"></i></button></a>
                        <a  href="{{path('etiqueta_edit', {'id': etiquetum.id})  }}"><button class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(etiquetas) }}
    </div>
    <a href="{{ path('tipo_relacion_new') }}"> <button  type="button" class="btn btn-info btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    </div>
    
    {% block javascripts %}
    {{encore_entry_script_tags('busquedaParamEtiqueta')}}
    {% endblock %}
    
{% endblock %}
