{% extends 'base.html.twig' %}

{% block title %}Etiqueta index{% endblock %}

{% block body %}
<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
    <h1>Etiquetas</h1>

    <br>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for etiquetum in etiquetas %}
                <tr>
                    <td>
                        {{etiquetum.id}}
                    </td>
                    <td>
                        {{etiquetum.nombre}}
                    </td>
                    <td>                        
                        <a href="{{ path('etiqueta_show', {'id': etiquetum.id}) }}"><i class="fa-solid fa-binoculars"></i></a>
                        <a href="{{ path('etiqueta_edit', {'id': etiquetum.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(etiquetas) }}
    </div>
    <a href="{{ path('tipo_relacion_new') }}"> <button  type="button" class="btn btn-dark btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    </div>
    

    
{% endblock %}
