{% extends 'base.html.twig' %}

{% block title %}Auditoria index{% endblock %}

{% block body %}
    <h1>Auditorias</h1>


    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active" >
            <tr>
                <th>{{knp_pagination_sortable(auditorias, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Fecha', 'p.fecha')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Usuario', 'p.nombreUsuario')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Instancia Anterior', 'p.instanciaAnterior')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Instancia Actual', 'p.instanciaActual')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Estado Anterior', 'p.estadoAnterior')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Estado Actual', 'p.estadoActual')}}</th>
                <th>{{knp_pagination_sortable(auditorias, 'Tarea', 'p.accion')}}</th>
                <th>Acciones</th>
    
            </tr>
        </thead>
        <tbody>
            {% for auditoria in auditorias %}
            <tr>
                <td>{{auditoria.id}}</td>
                <td>{{ auditoria.fecha|date('Y-m-d') }}</td>
                <td>{{ auditoria.nombreUsuario }}</td>
                <td>{{ auditoria.instanciaAnterior }}</td>
                <td>{{ auditoria.instanciaActual }}</td>
                <td>{{ auditoria.estadoAnterior }}</td>
                <td>{{ auditoria.estadoActual }}</td>
                <td>{{ auditoria.accion }}</td>
                <td>{{ include('auditoria/_delete_form.html.twig') }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">no se encontraron registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(auditorias) }}
    </div>
    </div>
    {% block javascripts %}
    {{encore_entry_script_tags('busquedaParamItem')}}
    {% endblock %}
{% endblock %}
