<html>

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Municipalidad de Paraná </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    {% block addStyleSheets %}
    {# {{ encore_entry_link_tags('base') }} #}
    {{ encore_entry_link_tags('estilo') }}
    {{ encore_entry_link_tags('boton') }} 
    {% endblock %}
</head>

<body>
    <div id="contenedor_carga">
        <div id="carga"></div>
        <div id="carga2"></div>
        <div id="carga3"></div>
    </div>
    <div class="{#header-top #}container">



        <nav class="navbar navbar-expand-lg  navbar-light bg-white" id="nav">
            <div class="d-flex flex-grow-1">
                <a class="navbar-brand" href="{{ path('inicio') }}" >
                    <img src="{{asset('/municipalidad.png')}}" width="173" height="auto" alt="">
                </a>
                

                <div class="w-50 mt-auto mb-auto text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div >
                <h3 class="float-left mt-2"id="tituloD"><strong>Obra Digesto Municipal</strong></h3>
            </div>
            
            <div class="collapse navbar-collapse text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto">
                {% if app.session.get('session_id') is defined and app.session.get('session_id') is not null %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>{{ app.session.get('username')}}
                        </a>
                        <div class="dropdown-menu text-right border-right-0 border-left-0">
                            <a class="dropdown-item cargando" href="{{ path('inicio_admin') }}"style="font-size: 12px !important;">Panel de control</a>
                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item cargando" href="{{path('logout')}}"style="font-size: 12px !important;">Salir</a>
                        </div>
                    </li>
                    
                {% endif %}
                </ul>
            </div>

            
        </nav>

    </div>
    <div class="barrita container">
        <div class="d-none d-sm-flex cont">
            <div class="barra" style="background-color: #47BCCA"></div>
            <div class="barra" style="background-color: #66A1AA"></div>
            <div class="barra" style="background-color: #005B88"></div>
        </div>
    </div>
    <div class="container contenido">





    {% block body %}{% endblock %}
</div>  
<br/>
<br/>
<br/>

<footer class="footer">{{ include('footer.html.twig') }}</footer>
</body>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}

{% endblock %}
</html>