<html>

<head>
    {% block head %}
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Municipalidad de Paraná </title>
        {# <link rel="icon" href="{{ asset('images/logomuniblanco.png') }}" type="image/x-icon" /> #}
        {# <link rel="stylesheet" href="{{ asset('build/css/loader.css') }}" /> #}
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        {# <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />  #}
        {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>#}
        {# <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> #}
        {#<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>#}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    {% block addStyleSheets %}
    {# {{ encore_entry_link_tags('base') }} #}
    {{ encore_entry_link_tags('estilo') }}
    {{ encore_entry_link_tags('boton') }} 

    {% endblock %}
</head>

<body>
    <div id="contenedor_carga">
        <div id="carga"></div>
        <div id="carga2"></div>
        <div id="carga3"></div>
    </div>
    <div class="{#header-top #}container">



        <nav class="navbar navbar-expand-lg  navbar-light bg-white" id="nav">
            <div class="d-flex flex-grow-1">
                <a class="navbar-brand" href="{{ path('inicio') }}" >
                    <img src="{{asset('/municipalidad.png')}}" width="173" height="auto" alt="">
                </a>
                

                <div class="w-100 mt-auto mb-auto text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div >
                
                    <h3 class="text-center mt-2">OBRA DIGESTO MUNICIPAL</h3>
                
            </div>
            
            <div class="collapse navbar-collapse text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto">
                {% if app.session.get('session_id') is defined and app.session.get('session_id') is not null %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"aria-haspopup="true" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>{{ app.session.get('username')}}
                        </a>
                        <div class="dropdown-menu text-right border-right-0 border-left-0">
                            <a class="dropdown-item cargando" href="{{ path('inicio_admin') }}"style="font-size: 12px !important;">Panel de control</a>
                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item cargando" href="{{path('logout')}}"style="font-size: 12px !important;">Salir</a>
                        </div>
                    </li>
                    {% else %}
                        <a class="btn btn-info" type="button" href="{{ path('login') }}"><i class="fa-regular fa-user"></i> Ingresar</a>
                {% endif %}
                </ul>
            </div>

            
        </nav>

    </div>
    <div class="barrita container">
        <div class="d-none d-sm-flex cont">
            <div class="barra" style="background-color: #47BCCA"></div>
            <div class="barra" style="background-color: #66A1AA"></div>
            <div class="barra" style="background-color: #005B88"></div>
        </div>
    </div>
    <div class="container contenido">
        {% if app.session.get('session_id') is defined and app.session.get('session_id') is not null %}
        <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
        {% else %}
        <header class="headerPublic">{{ include('basePublic.html.twig') }}</header>
        {% endif %}
 




    {% block body %}{% endblock %}
</div>  
<br/>
<br/>
<br/>

<footer class="footer">{{ include('footer.html.twig') }}</footer>
</body>


{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</html>