<nav class="navbar navbar-expand">
    
    <div class="titulo text-left mt-4">
        <div class="input-group mr-5 " id="busqueda-input">
            <input type="text" class="form-control" id="busquedaRapida" value="" placeholder="    BUSCAR" aria-label="Input group example" aria-describedby="btnGroupAddon2">
            <i class="fa-solid fa-magnifying-glass" id="iconoLupa"></i>
        </div>
    </div>
    

        <ul class="navbar-nav ml-auto text-center">
            {# si hay sesion: #}
        {% if app.session.get('session_id') is defined and app.session.get('session_id') is not null %}
            <li class="nav-item dropdown">
                {# <div class="text-left">
                    <a class="btn btn-light botonModificado" type="button" href="{{ path('login') }}"><p class="mt-auto"><i class="fa-regular fa-circle-user fa-lg mr-2" style="width: 25;"></i>INGRESAR</p></a>
                </div> #}
                <a class="nav-link dropdown-toggle botonModificado" data-toggle="dropdown" href="#" role="button"aria-haspopup="true" aria-expanded="false">
                    <p class="mt-auto"><i class="fa-regular fa-circle-user fa-lg" style="width: 25;"></i>{{ app.session.get('username')}}</p></a>
                <div class="dropdown-menu" id="dropdownMenu">
                    {% if 'DIG_ADMINISTRADOR' in app.session.get('roles') %}
                        <p id="rol">DIG_ADMINISTRADOR</p>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if 'DIG_OPERADOR' in app.session.get('roles') %}
                    <p id="rol">DIG_OPERADOR</p>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if 'DIG_CONSULTOR' in app.session.get('roles') %}
                    <p id="rol">DIG_CONSULTOR</p>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if 'DIG_EDITOR' in app.session.get('roles') %}
                    <p id="rol">DIG_EDITOR</p>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    
                    <p id="rol">{{app.session.get('repa')}}</p>
                    <div class="dropdown-divider"></div> 
                    <div class="option">
                        <a href="{{ path('change_password') }}"><p id="rol">Cambiar contraseña</p></a>
                    </div>
                    {# <a class="dropdown-item cargando" href="{{ path('change_password') }}"style="font-size: 12px !important;">Cambiar contraseña</a> #}
                    <div class="dropdown-divider"></div>
                    <div class="option">
                        <a href="{{ path('inicio_admin') }}"><p id="rol">Panel de control</p></a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="option">
                        <a href="{{path('logout',{'bandera':0})}}"><p id="rol">Salir</p></a>
                    </div>
                </div>
            </li>
            {% elseif app.request.get('_route') != 'login' %}
            <div class="text-left">
                <a class="btn btn-light botonModificado" type="button" href="{{ path('login') }}"><p class="mt-auto"><i class="fa-regular fa-circle-user fa-lg" style="width: 25;"></i>INGRESAR</p></a>
            </div>
        {% endif %}
        
        </ul>
    </div>

</nav>