{% block addStyleSheets %}
    {{ encore_entry_link_tags('estilo') }}
    {{ encore_entry_link_tags('menuAdmin') }}
    {{ encore_entry_link_tags('spinnerCss') }}
    {% endblock %}
<header class="headerNorma">
    <div class="container-fluid" id="containerHeader">
        <div class="contenedorDinamicoSpinner">

        </div>
        {% if item %}
        {% macro mostrarNorma(norma) %}
            {{norma.titulo}}
        {% endmacro %}
        
        {% macro recursiveCategory(itemHijo, norma ) %}
            
            {% import _self as self %} 
            
                {% if itemHijo.padre != null %}
                    {{ self.recursiveCategory(itemHijo.padre, norma) }} |
                    {{itemHijo.nombre}}
                {% else %}
                    {# {% if itemHijo.nombre == 'NORMAS VIGENTES' %} #}
                        {# <a href="{{path('indice_vigente')}}"class="alert-link"> {{ itemHijo.nombre }}</a> #}
                        {{ itemHijo.nombre }}
                    {# {% else %}
                        {# <a href="{{path('indice_no_vigente')}}"class="alert-link"> {{ itemHijo.nombre }}</a> #}
                    {# {% endif %}  #}
                {% endif %}
                
        {% endmacro %}
        
        {% from _self import recursiveCategory %}
            {% from _self import mostrarNorma %}
            {# <div class="alert alert-dark" role="alert"> #}
                <div>
                    <div id="txt">
                        <ul>{% if item.padre != null %}
                                {{ recursiveCategory(item, norma) }}
                                {# <i class="fa-solid fa-angle-right"></i> {{ mostrarNorma(norma)}} #}
                            {% else %}
                                    {{item.nombre}} | {{norma.titulo}}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
            
        {# </div> #}
        {% endif %}
       

        <div class="input-group mr-2" id="busqueda-input">
            <input type="text" class="form-control" id="busquedaRapida" value="" placeholder="    BUSCAR" aria-label="Input group example" aria-describedby="btnGroupAddon2">
            <i class="fa-solid fa-magnifying-glass" id="iconoLupa"></i>
        </div>
    </div>

    {% block javascripts %}
    {{encore_entry_script_tags('busquedaJs')}}
    {{encore_entry_script_tags('spinnerJs')}}
{% endblock %}

</header>