{% extends 'base.html.twig' %}

{% block title %}TipoNorma index{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
    <h1>Tipos de norma</h1>
    
    <br>
    {# <div class="container">
        <div class="input-group float-right ml-auto mr-2">
        <input type="text" class="form-control col-5 float-right" id="busquedaParam" value="" placeholder="Nombre" aria-label="Input group example" aria-describedby="btnGroupAddon2">
        <div class="input-group-prepend">
            <button class="boton btn-dark btn-sm" id="busquedaParam"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div> #}
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active">
            <tr>
                <th>{{knp_pagination_sortable(tipo_normas, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(tipo_normas, 'Nombre', 'p.nombre')}}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_norma in tipo_normas %}
            <tr>
                <td>{{tipo_norma.id}}</td>
                <td>
                    {{tipo_norma.nombre}}
                </td>
                <td>
                    <a  href="{{path('tipo_norma_edit', {'id': tipo_norma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    {{ include('tipo_norma/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(tipo_normas) }}
    </div>
    <a href="{{ path('tipo_norma_new') }}"> <button  type="button" class="btn btn-info btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    </div>
    
    <br>
 
{% endblock %}
