{% extends 'base.html.twig' %}

{% block title %}TipoNorma index{% endblock %}

{% block body %}
    <h1>TipoNorma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_norma in tipo_normas %}
            <tr>
                <td>{{ tipo_norma.id }}</td>
                <td>{{ tipo_norma.nombre }}</td>
                <td>
                    <a href="{{ path('tipo_norma_show', {'id': tipo_norma.id}) }}">show</a>
                    <a href="{{ path('tipo_norma_edit', {'id': tipo_norma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_norma_new') }}">Create new</a>
{% endblock %}
