{% extends 'base.html.twig' %}

{% block title %}TipoNorma index{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
    <h1>Tipos de norma</h1>    

    {% if rol=="DIG_ADMINISTRADOR" %}
        <div id="contenedorBotonVolver" class="text-left mt-1">
            <a href="{{path('inicio_admin')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
        </div>
        <a href="{{ path('tipo_norma_new') }}"> <button  type="button" class="btn btn-outline-info btn-sm ml-3">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    {% endif %}
    <br>
    <br>

    <div class="table-responsive">
        <table class="table table-hover ">
            <thead class="table-active">
            <tr>
                <th>{{knp_pagination_sortable(tipo_normas, 'Id', 'p.id') }}</th>
                <th>{{knp_pagination_sortable(tipo_normas, 'Nombre', 'p.nombre')}}</th>
                {% if rol=="DIG_ADMINISTRADOR" %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tipo_norma in tipo_normas %}
            <tr>
                <td>{{tipo_norma.id}}</td>
                <td>
                    {{tipo_norma.nombre}}
                </td>
                {% if rol=="DIG_ADMINISTRADOR" %}
                <td>
                    <a  href="{{path('tipo_norma_edit', {'id': tipo_norma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    <a  href="{{path('reparticion_norma', {'id': tipo_norma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-link"></i></button></a>
                    <a  href="{{path('rol_tipo_norma', {'id': tipo_norma.id})  }}"><button class="btn btn-info btn-sm d-inline-block float-left mr-1"><i class="fa-solid fa-user-shield"></i></button></a>
                    
                    {{ include('tipo_norma/_delete_form.html.twig') }}
                </td>
                {% endif %}
                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(tipo_normas) }}
    </div>

    
    </div>
    
    <br>
 
{% endblock %}
