{% extends 'base.html.twig' %}

{% block title %}TipoNorma{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}

    <h1>Tipo de norma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_norma.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_norma.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_norma_index') }}">Volver a la lista </a>
    <br>
    <a href="{{ path('tipo_norma_edit', {'id': tipo_norma.id}) }}">Editar</a>

    {{ include('tipo_norma/_delete_form.html.twig') }}
{% endblock %}
