{{ form_start(form,{'attr':{'id':'norma_nueva_form'}})}}
    {{ form_row(form.nombre) }} 
    {{ form_row(form.padre) }} 
    {# {{ form_row(form.dependencias) }}  #}
    {# {{ form_row(form.orden)}}
    {{ form_row(form.normas) }}  #}
    <button class="btn btn-success" id="boton_guardar">{{ button_label|default('Confirmar') }}</button>
{{ form_end(form) }}