{{ form_start(form) }}
    {{ form_row(form.nombre) }} 
    {{ form_row(form.padre) }} 
    {# {{ form_row(form.dependencias) }}  #}
    {{ form_row(form.orden)}}
    {{ form_row(form.normas) }} 
    <button class="btn btn-success" id="boton123">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}