{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}

{% block addStyleSheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexAdmin') }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}
<h1>Índice</h1>


<div class="container">
    <div id="contenedorBotonVolver" class="text-left mt-1">
        <a href="{{path('inicio_admin')}}"}} class="btn btn-outline-primary rounded-circle" id="botonVolverAtras"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    {% if "DIG_ADMINISTRADOR" in roles %}
        
        <a href="{{ path('item_new') }}"> <button title="NUEVO ÍNDICE" type="button" class="btn btn-outline-info btn-sm ml-3">Agregar <i class="fa-solid fa-plus"></i></button> </a>
    {% endif %}
    <div class="input-group float-right ml-auto mr-2">
        <input type="text" class="form-control col-5 float-right" id="busquedaParam" value="" placeholder="   Nombre" aria-label="Input group example" aria-describedby="btnGroupAddon2">
        <i class="fa-solid fa-magnifying-glass" id="iconoLupa"></i>
    </div>

<br>
<br>
<div class="table-responsive">
    <table class="table" id="tablaIndex">
        <thead id="headIndex">
        <tr>
            <th>{{ knp_pagination_sortable(items, 'Id', 'p.id') }}</th>
            <th>{{knp_pagination_sortable(items, 'Nombre', 'p.nombre')}}</th>
            {% if "DIG_ADMINISTRADOR" in roles %}
            <th class="thOp">Opciones</th>
            {% endif %}

        </tr>
    </thead>
    <tbody class="tbody">
        {% for item in items %}
        <tr>

            <td>
                {{item.id}}
            </td>
            <td>
                {{ item.nombre }}
            </td>
            {% if "DIG_ADMINISTRADOR" in roles %}
            <td>
                <a  href="{{path('item_edit', {'id': item.id})  }}"><button title="EDITAR" class="btn btn-info btn-sm d-inline-block float-left mr-1"><img src="{{asset('/Editar.png')}}"  alt="" id="auditoriaIcon"></button></a>
                {{ include('item/_delete_form.html.twig') }}
            </td>
            {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="3">no se encontraron registros</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(items) }}
</div>
</div>
<br>
</div>
{% block javascripts %}
    {{encore_entry_script_tags('busquedaParamItem')}}
    {% endblock %}
{% endblock %}
