{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}


<header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header>
<h1>Indice</h1>

<br>

<div class="table-responsive">
    <table class="table table-hover ">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>

        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>

            <td>
                {{item.id}}
            </td>
            <td>
                {{ item.nombre }}
            </td>
            <td>
                <a  href="{{path('item_show', {'id': item.id})  }}"><i class="fa-solid fa-binoculars"></i></a>
                <a  href="{{path('item_edit', {'id': item.id})  }}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>

        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(items) }}
</div>
</div>
<br>
{% if rol == "DIG_OPERADOR" %}

<a href="{{ path('item_new') }}"> <button  type="button" class="btn btn-dark btn-sm">Agregar <i class="fa-solid fa-plus"></i></button> </a>
<br>
{% endif %}
{% endblock %}
