{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
{# <header class="headerAdmin">{{ include('baseAdmin.html.twig') }}</header> #}

    <h1>Item</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ item.nombre }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ item.orden }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_index') }}">Volver a la lista</a>

    <a href="{{ path('item_edit', {'id': item.id}) }}">Editar</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
