{% extends 'base.html.twig' %}

{% block title %}Norma index{% endblock %}

{% block body %}

{{ parent() }}


<h5><a href="{{path('titu', {'id': titu.id})  }}">{{titu.getNombre()}}</a> > {{capi.getNombre()}}</h5>
{% for tema in temas %}
<div class="container mt-3 mb-3">
    <div class="card text-center shadow mb-5 bg-white rounded">
        <th>
           <h5> <a href="{{path('normas_de_tema', {'id': tema.id})  }}"> {{tema.nombre}} </a> </h5>
        </th>
        </div>
    </div>
    {% endfor %}

{# <a href="{{ path('norma_nueva') }}">Create new</a> #}
{% endblock %}
